openapi: 3.2.0
info:
  title: VaultRE Precincts API
  description: Please ensure all API requests use HTTP/1.1. See https://github.com/VaultGroup/api-samples for code samples.
  contact:
    name: VaultRE
    url: https://www.vaultre.com.au
    email: api@vaultre.com.au
  version: '1.3'
servers:
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
tags:
- name: Precincts
  description: Operations related to precincts
paths:
  /precincts:
    get:
      tags:
      - Precincts
      summary: Retrieve a list of precincts for this account
      operationId: getAccountPrecincts
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        '200':
          description: Precincts retrieved
          content:
            application/json:
              schema:
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Precinct'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /precincts/{id}:
    get:
      tags:
      - Precincts
      summary: Retrieve a single precinct
      operationId: getPrecinct
      parameters:
      - name: id
        in: path
        description: ID of the precinct
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Precinct retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Precinct'
      security:
      - Api-Key: []
        Bearer: []
components:
  parameters:
    page:
      name: page
      in: query
      description: Page number of results
      schema:
        type: integer
        format: int64
    sortOrder:
      name: sortOrder
      in: query
      description: Order by which to sort the results. Used in conjunction with sort parameter.
      schema:
        type: string
        enum:
        - asc
        - desc
    pagesize:
      name: pagesize
      in: query
      description: Number of records to be returned in each page.
      schema:
        type: integer
        format: int64
        default: 50
  schemas:
    UserPhoto:
      type: object
      properties:
        original:
          type: string
        thumb_360:
          type: string
    Access:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        photo:
          $ref: '#/components/schemas/UserPhoto'
        account:
          type: object
          properties:
            id:
              type: integer
              format: int64
            name:
              type: string
    Urls:
      type: object
      properties:
        previous:
          type: string
        next:
          type: string
        self:
          type: string
    Precinct:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        accessBy:
          type: array
          items:
            $ref: '#/components/schemas/Access'
        vertices:
          type: array
          items:
            $ref: '#/components/schemas/Vertex'
    Vertex:
      type: object
      properties:
        latitude:
          type: number
          format: float
        longitude:
          type: number
          format: float
  securitySchemes:
    Api-Key:
      type: apiKey
      name: X-Api-Key
      in: header
    Bearer:
      type: http
      scheme: bearer
