openapi: 3.2.0
info:
  title: Vaultre Corelogic API
  contact:
    name: VaultRE
    url: https://www.vaultre.com.au
    email: api@vaultre.com.au
  version: '1.0'
  description: 'Operations tagged corelogic across 3 of this provider''s published API definitions: vaultre-api-v1-1-openapi.yml, vaultre-api-v1-2-openapi.yml, vaultre-api-v1-3-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
tags:
- name: corelogic
  description: Operations related to CoreLogic
paths:
  /suggest/address/corelogic:
    get:
      tags:
      - corelogic
      summary: Search for an address in CoreLogic
      operationId: suggestAddressCoreLogic
      parameters:
      - name: term
        in: query
        description: The term to search by
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Suggestions retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /corelogic/properties/{id}:
    get:
      tags:
      - corelogic
      summary: Retrieve a property from CoreLogic
      description: Retrieve a property from CoreLogic using the CoreLogic property ID
      operationId: getCoreLogicProperty
      parameters:
      - name: id
        in: path
        description: CoreLogic ID of the property
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Property retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoreLogicProperty'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /corelogic/properties/{id}/avm:
    get:
      tags:
      - corelogic
      summary: Retrieve an AVM estimate for this CoreLogic property
      operationId: getCoreLogicAvm
      parameters:
      - name: id
        in: path
        description: CoreLogic ID of the property
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: AVM retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoreLogicAvm'
        403:
          description: User does not have correct CoreLogic subscription level
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /corelogic/properties/{id}/rentalavm:
    get:
      tags:
      - corelogic
      summary: Retrieve a rental AVM estimate for this CoreLogic property
      operationId: getCoreLogicRentalAvm
      parameters:
      - name: id
        in: path
        description: CoreLogic ID of the property
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Rental AVM retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoreLogicRentalAvm'
        403:
          description: User does not have correct CoreLogic subscription level
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /corelogic/disclaimers:
    get:
      tags:
      - corelogic
      summary: Retrieve CoreLogic disclaimers
      operationId: getCoreLogicDisclaimers
      responses:
        200:
          description: Disclaimers retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
components:
  schemas:
    Suburb:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        postcode:
          type: string
        state:
          $ref: '#/components/schemas/State'
    Area:
      type: object
      properties:
        value:
          type: integer
          format: int64
        units:
          type: string
          enum:
          - sqm
          - acre
          - hectare
    Address:
      type: object
      properties:
        level:
          type: string
        unitNumber:
          type: string
        streetNumber:
          type: string
        street:
          type: string
        suburb:
          $ref: '#/components/schemas/Suburb'
        state:
          $ref: '#/components/schemas/State'
        country:
          $ref: '#/components/schemas/Country'
    CoreLogicRentalAvm:
      type: object
      properties:
        estimatedPricePerWeekHigh:
          type: number
          format: float
        estimatedPricePerWeekLow:
          type: number
          format: float
        estimatedValuePerWeek:
          type: number
          format: float
        forecastStandardDeviation:
          type: number
          format: float
        yieldForecastStandardDeviation:
          type: number
          format: float
        yield:
          type: number
          format: float
    Country:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        isocode:
          type: string
        gstRate:
          type: number
          format: float
    State:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        abbreviation:
          type: string
    CoreLogicProperty:
      type: object
      properties:
        id:
          type: integer
          format: int64
        address:
          $ref: '#/components/schemas/Address'
        bed:
          type: integer
          format: int64
        bath:
          type: integer
          format: int64
        carSpaces:
          type: integer
          format: int64
        floorArea:
          $ref: '#/components/schemas/Area'
        landArea:
          $ref: '#/components/schemas/Area'
        volumeNumber:
          type: string
        folioNumber:
          type: string
        frontage:
          type: number
          format: float
    CoreLogicAvm:
      type: object
      properties:
        estimatedPriceHigh:
          type: number
          format: float
        estimatedPriceLow:
          type: number
          format: float
        estimatedValue:
          type: number
          format: float
        forecastStandardDeviation:
          type: number
          format: float
    SuccessOrError:
      type: object
      properties:
        success:
          type: boolean
        msg:
          type: string
        code:
          type: string
    CoreLogicAvm_2:
      type: object
      properties:
        estimatedPriceHigh:
          type: number
          format: float
        estimatedPriceLow:
          type: number
          format: float
        estimatedValue:
          type: number
          format: float
        confidence:
          type: string
    CustomAddress:
      type: object
      properties:
        address1:
          type: string
        address2:
          type: string
        postTown:
          type: string
        postcode:
          type: string
    Suburb_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        postcode:
          type: string
        state:
          $ref: '#/components/schemas/State'
        nzDistrict:
          $ref: '#/components/schemas/District'
        isPoBox:
          type: boolean
    Address_2:
      type: object
      properties:
        level:
          type: string
        unitNumber:
          type: string
        streetNumber:
          type: string
        street:
          type: string
        suburb:
          $ref: '#/components/schemas/Suburb_2'
        state:
          $ref: '#/components/schemas/State'
        country:
          $ref: '#/components/schemas/Country'
        royalMail:
          $ref: '#/components/schemas/RoyalMail'
        customAddress:
          $ref: '#/components/schemas/CustomAddress'
    RoyalMail:
      type: object
      properties:
        buildingName:
          type: string
        buildingNumber:
          type: string
        department:
          type: string
        locality:
          type: string
        locality2:
          type: string
        organisation:
          type: string
        postTown:
          type: string
        postcode:
          type: string
        subbuildingName:
          type: string
        subbuildingNumber:
          type: string
        thoroughfare:
          type: string
        thoroughfare2:
          type: string
        udprn:
          type: integer
          format: int64
    District:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        region:
          $ref: '#/components/schemas/Region'
    Urls:
      type: object
      properties:
        previous:
          type: string
        next:
          type: string
        self:
          type: string
    CoreLogicAddressSuggest:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    Region:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    CoreLogicAvm_3:
      type: object
      properties:
        estimatedPriceHigh:
          type: number
          format: float
        estimatedPriceLow:
          type: number
          format: float
        estimatedValue:
          type: number
          format: float
        confidence:
          type: string
  parameters:
    page:
      name: page
      in: query
      description: Page number of results
      schema:
        type: integer
        format: int64
    pagesize:
      name: pagesize
      in: query
      description: Number of records to be returned in each page.
      schema:
        type: integer
        format: int64
        default: 50
  securitySchemes:
    Api-Key:
      type: apiKey
      name: X-Api-Key
      in: header
    Bearer:
      type: apiKey
      description: Use format 'Bearer [token]'
      name: Authorization
      in: header
x-refined-from:
- vaultre-api-v1-1-openapi.yml
- vaultre-api-v1-2-openapi.yml
- vaultre-api-v1-3-openapi.yml
