openapi: 3.2.0
info:
  title: Vaultre Holiday Rental Properties API
  contact:
    name: VaultRE
    url: https://www.vaultre.com.au
    email: api@vaultre.com.au
  version: '1.0'
  description: 'Operations tagged holidayRentalProperties across 3 of this provider''s published API definitions: vaultre-api-v1-1-openapi.yml, vaultre-api-v1-2-openapi.yml, vaultre-api-v1-3-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
tags:
- name: holidayRentalProperties
  description: Operations related to holiday rental properties
paths:
  /properties/holidayRental/lease:
    get:
      tags:
      - holidayRentalProperties
      summary: Retrieve a list of holiday rental properties
      description: Retrieve a list of holiday rental properties
      operationId: getHolidayRentalProperties
      parameters:
      - $ref: '#/components/parameters/modifiedSince'
      - $ref: '#/components/parameters/modifiedBefore'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - $ref: '#/components/parameters/published'
      - name: status
        in: query
        description: Property status to filter by
        schema:
          type: string
          default: '50'
          enum:
          - prospect
          - appraisal
          - management
          - withdrawn
      - name: availableOnly
        in: query
        description: Filter available lease properties only
        schema:
          type: boolean
      - name: contactStaff
        in: query
        description: Filter properties with contactStaff containing this user ID
        schema:
          type: integer
          format: int64
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - inserted
          - modified
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Properties retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - holidayRentalProperties
      summary: Add a holiday rental property
      description: Add a holiday rental property
      operationId: addHolidayRentalProperty
      requestBody:
        description: Holiday rental property object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUpdateHolidayRentalProperty'
        required: true
      responses:
        201:
          description: Property created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HolidayRentalPropertyExtended'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/holidayRental/lease/{id}:
    get:
      tags:
      - holidayRentalProperties
      summary: Retrieve a single holiday rental property
      description: Retrieve a single holiday rental property
      operationId: getHolidayRentalProperty
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Property retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HolidayRentalPropertyExtended'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - holidayRentalProperties
      summary: Update a holiday rental property
      description: Update a holiday rental property
      operationId: updateHolidayRentalProperty
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Holiday Rental property object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUpdateHolidayRentalProperty'
        required: true
      responses:
        200:
          description: Property updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HolidayRentalPropertyExtended'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/holidayRental/lease/available:
    get:
      tags:
      - holidayRentalProperties
      summary: Retrieve a list of available holiday rental properties
      description: Retrieve a list of available holiday rental properties. This is the same as the /properties/holidayRental/lease endpoint, with certain filters pre-applied.
      operationId: getAvailableHolidayRentalProperties
      parameters:
      - $ref: '#/components/parameters/modifiedSince'
      - $ref: '#/components/parameters/modifiedBefore'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: contactStaff
        in: query
        description: Filter properties with contactStaff containing this user ID
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/suburbs'
      - $ref: '#/components/parameters/branches'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - inserted
          - modified
          - suburb
          - searchPrice
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Properties retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
components:
  schemas:
    ID:
      type: object
      properties:
        id:
          type: integer
          format: int64
    State:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        abbreviation:
          type: string
    Country:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        isocode:
          type: string
        gstRate:
          type: number
          format: float
    Area:
      type: object
      properties:
        value:
          type: integer
          format: int64
        units:
          type: string
          enum:
          - sqm
          - acre
          - hectare
    Geolocation:
      type: object
      properties:
        latitude:
          type: number
          format: float
        longitude:
          type: number
          format: float
        accuracy:
          type: string
          enum:
          - USERDEFINED
          - ROOFTOP
          - RANGE_INTERPOLATED
          - GEOMETRIC_CENTER
          - APPROXIMATE
    Property:
      type: object
      properties:
        id:
          type: integer
          format: int64
        building:
          $ref: '#/components/schemas/Building'
        class:
          $ref: '#/components/schemas/PropertyClass'
        type:
          $ref: '#/components/schemas/PropertyType'
        address:
          $ref: '#/components/schemas/Address'
        displayAddress:
          type: string
        referenceID:
          type: string
        keyID:
          type: string
        photos:
          type: array
          items:
            $ref: '#/components/schemas/PropertyPhoto'
        searchPrice:
          type: number
          format: float
        displayPrice:
          type: string
        heading:
          type: string
        description:
          type: string
        brochureDescription:
          type: string
        landArea:
          $ref: '#/components/schemas/Area'
        volumeNumber:
          type: string
        folioNumber:
          type: string
        corelogicId:
          type: integer
          format: int64
        yearBuilt:
          type: integer
          format: int64
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        saleLifeId:
          type: integer
          format: int64
        leaseLifeId:
          type: integer
          format: int64
        geolocation:
          $ref: '#/components/schemas/Geolocation'
        contactStaff:
          type: array
          items:
            $ref: '#/components/schemas/User'
      discriminator:
        propertyName: class
    AddUpdateProperty:
      type: object
      properties:
        building:
          $ref: '#/components/schemas/ID'
        type:
          $ref: '#/components/schemas/ID'
        address:
          $ref: '#/components/schemas/UpdateAddress'
        referenceID:
          type: string
        keyID:
          type: string
        searchPrice:
          type: number
          format: float
        displayPrice:
          type: string
        heading:
          type: string
        description:
          type: string
        brochureDescription:
          type: string
        landArea:
          $ref: '#/components/schemas/Area'
        volumeNumber:
          type: string
        folioNumber:
          type: string
        corelogicId:
          type: integer
          format: int64
        yearBuilt:
          type: integer
          format: int64
        accessBy:
          type: array
          items:
            $ref: '#/components/schemas/ID'
        contactStaff:
          type: array
          items:
            $ref: '#/components/schemas/ID'
      discriminator:
        propertyName: class
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        firstName:
          type: string
        lastName:
          type: string
        username:
          type: string
        email:
          type: string
          format: email
        adminAccess:
          type: boolean
        position:
          type: string
        role:
          type: string
          enum:
          - commercialSalesAndLeasing
          - residentialSales
          - propertyManagement
        photo:
          $ref: '#/components/schemas/UserPhoto'
        lastLogin:
          type: string
          format: date-time
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        profile:
          type: string
        permissions:
          type: object
          properties:
            settings:
              type: boolean
            canLogin:
              type: boolean
            deleteContacts:
              type: boolean
            globalActionListsReadWrite:
              type: boolean
            globalContactsReadWrite:
              type: boolean
            globalNotesRead:
              type: boolean
            globalNotesReadWrite:
              type: boolean
            globalPropertiesRead:
              type: boolean
            globalPropertiesReadWrite:
              type: boolean
            globalTasksReadWrite:
              type: boolean
            sendSMS:
              type: boolean
    PhoneNumber:
      type: object
      properties:
        number:
          type: string
        typeCode:
          type: string
          enum:
          - H
          - W
          - M
          - F
          - D
        type:
          type: string
          enum:
          - Home
          - Work
          - Mobile
          - Facsimile
          - Direct
    PropertyPhoto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        filesize:
          type: integer
          format: int64
        width:
          type: integer
          format: int64
        height:
          type: integer
          format: int64
        caption:
          type: string
        type:
          type: string
          enum:
          - Photograph
          - Floorplan
        url:
          type: string
        filename:
          type: string
        userFilename:
          type: string
        thumbnails:
          $ref: '#/components/schemas/PropertyPhotoThumbnails'
        published:
          type: boolean
    AddUpdateHolidayRentalProperty:
      allOf:
      - $ref: '#/components/schemas/AddUpdateResidentialProperty'
      - type: object
    PropertyClass:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    Address:
      type: object
      properties:
        level:
          type: string
        unitNumber:
          type: string
        streetNumber:
          type: string
        street:
          type: string
        suburb:
          $ref: '#/components/schemas/Suburb'
        state:
          $ref: '#/components/schemas/State'
        country:
          $ref: '#/components/schemas/Country'
    Suburb:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        postcode:
          type: string
        state:
          $ref: '#/components/schemas/State'
    ResidentialProperty:
      allOf:
      - $ref: '#/components/schemas/Property'
      - type: object
        properties:
          bed:
            type: integer
            format: int64
          bath:
            type: integer
            format: int64
          garages:
            type: integer
            format: int64
          carports:
            type: integer
            format: int64
          openSpaces:
            type: integer
            format: int64
          floorArea:
            $ref: '#/components/schemas/Area'
          status:
            type: string
            enum:
            - prospect
            - appraisal
            - listing
            - conditional
            - unconditional
            - settled
            - management
            - withdrawn
    HolidayRentalPropertyExtended:
      allOf:
      - $ref: '#/components/schemas/HolidayRentalProperty'
      - type: object
        properties:
          accessBy:
            type: array
            items:
              $ref: '#/components/schemas/Access'
          externalLinks:
            type: array
            items:
              $ref: '#/components/schemas/ExternalLink'
    AddUpdateResidentialProperty:
      allOf:
      - $ref: '#/components/schemas/AddUpdateProperty'
      - type: object
        properties:
          bed:
            type: integer
            format: int64
          bath:
            type: integer
            format: int64
          garages:
            type: integer
            format: int64
          carports:
            type: integer
            format: int64
          openSpaces:
            type: integer
            format: int64
          floorArea:
            $ref: '#/components/schemas/Area'
          status:
            type: string
            enum:
            - prospect
            - appraisal
    HolidayRentalProperty:
      allOf:
      - $ref: '#/components/schemas/ResidentialProperty'
      - type: object
    UpdateAddress:
      type: object
      properties:
        level:
          type: string
        unitNumber:
          type: string
        streetNumber:
          type: string
        street:
          type: string
        suburb:
          $ref: '#/components/schemas/ID'
    PropertyType:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        country:
          $ref: '#/components/schemas/Country'
        propertyClass:
          $ref: '#/components/schemas/PropertyClass'
    UserPhoto:
      type: object
      properties:
        original:
          type: string
        thumb_360:
          type: string
    PropertyPhotoThumbnails:
      type: object
      properties:
        thumb_180:
          type: string
        thumb_1024:
          type: string
    Building:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    ExternalLink:
      type: object
      properties:
        id:
          type: number
          format: int64
        url:
          type: string
        modified:
          type: string
          format: date-time
        type:
          $ref: '#/components/schemas/ExternalLinkType'
    ExternalLinkType:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    SuccessOrError:
      type: object
      properties:
        success:
          type: boolean
        msg:
          type: string
        code:
          type: string
    Access:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        photo:
          $ref: '#/components/schemas/UserPhoto'
    LeaseHistory:
      type: object
      properties:
        lifeId:
          type: number
          format: int64
        appraisal:
          type: string
          format: date-time
        appraisalPriceLower:
          type: number
          format: float
        appraisalPriceUpper:
          type: number
          format: float
        status:
          type: string
          enum:
          - prospect
          - appraisal
          - listing
          - conditional
          - unconditional
          - settled
          - management
          - withdrawn
          - withdrawnAppraisal
    AddUpdateLeaseProperty:
      type: object
      properties:
        externalLinks:
          type: array
          items:
            $ref: '#/components/schemas/ExternalLink'
        priceOnApplication:
          type: boolean
        authorityStart:
          type: string
          format: date-time
        authorityEnd:
          type: string
          format: date-time
        bondPrice:
          type: number
          format: float
        expenditureLimit:
          type: number
          format: float
    Property_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        building:
          $ref: '#/components/schemas/Building'
        class:
          $ref: '#/components/schemas/PropertyClass_2'
        type:
          $ref: '#/components/schemas/PropertyType_2'
        address:
          $ref: '#/components/schemas/Address'
        displayAddress:
          type: string
        addressVisibility:
          type: string
          enum:
          - streetAndSuburb
          - suburb
          - fullAddress
        referenceID:
          type: string
        keyID:
          type: string
        photos:
          type: array
          items:
            $ref: '#/components/schemas/PropertyPhoto'
        searchPrice:
          type: number
          format: float
        displayPrice:
          type: string
        heading:
          type: string
        description:
          type: string
        brochureDescription:
          type: string
        landArea:
          $ref: '#/components/schemas/Area'
        frontage:
          type: number
          format: float
        volumeNumber:
          type: string
        folioNumber:
          type: string
        corelogicId:
          type: integer
          format: int64
        yearBuilt:
          type: integer
          format: int64
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        saleLifeId:
          type: integer
          format: int64
        leaseLifeId:
          type: integer
          format: int64
        geolocation:
          $ref: '#/components/schemas/Geolocation'
        lotNumber:
          type: string
        certificateOfTitle:
          type: string
        legalDescription:
          type: string
        rpdp:
          type: string
      discriminator:
        propertyName: class
    AddUpdateProperty_2:
      type: object
      properties:
        building:
          $ref: '#/components/schemas/ID'
        type:
          $ref: '#/components/schemas/ID'
        address:
          $ref: '#/components/schemas/UpdateAddress'
        referenceID:
          type: string
        keyID:
          type: string
        searchPrice:
          type: number
          format: float
        displayPrice:
          type: string
        heading:
          type: string
        description:
          type: string
        brochureDescription:
          type: string
        landArea:
          $ref: '#/components/schemas/Area'
        volumeNumber:
          type: string
        folioNumber:
          type: string
        corelogicId:
          type: integer
          format: int64
        yearBuilt:
          type: integer
          format: int64
        accessBy:
          type: array
          items:
            $ref: '#/components/schemas/ID'
        appraisal:
          type: string
          format: date-time
        appraisalPriceLower:
          type: number
          format: float
        appraisalPriceUpper:
          type: number
          format: float
        contactStaff:
          type: array
          items:
            $ref: '#/components/schemas/ID'
        externalLinks:
          type: array
          items:
            $ref: '#/components/schemas/AddUpdateExternalLink'
        mobileMarketingDescription:
          type: string
        certificateOfTitle:
          type: string
        legalDescription:
          type: string
        rpdp:
          type: string
        lotNumber:
          type: string
      discriminator:
        propertyName: class
    LeaseProperty:
      type: object
      properties:
        branch:
          $ref: '#/components/schemas/AccountBranch'
        mobileMarketingDescription:
          type: string
        externalLinks:
          type: array
          items:
            $ref: '#/components/schemas/ExternalLink'
        priceOnApplication:
          type: boolean
        authorityStart:
          type: string
          format: date-time
        authorityEnd:
          type: string
          format: date-time
        bondPrice:
          type: number
          format: float
        expenditureLimit:
          type: number
          format: float
    User_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        firstName:
          type: string
        lastName:
          type: string
        username:
          type: string
        email:
          type: string
          format: email
        adminAccess:
          type: boolean
        position:
          type: string
        role:
          type: string
          enum:
          - commercialSalesAndLeasing
          - residentialSales
          - propertyManagement
        photo:
          $ref: '#/components/schemas/UserPhoto'
        lastLogin:
          type: string
          format: date-time
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber_2'
        profile:
          type: string
        permissions:
          type: object
          properties:
            settings:
              type: boolean
            accessPropertyManagement:
              type: boolean
            accessSales:
              type: boolean
            canLogin:
              type: boolean
            deleteContacts:
              type: boolean
            globalActionListsReadWrite:
              type: boolean
            globalContactsReadWrite:
              type: boolean
            globalNotesRead:
              type: boolean
            globalNotesReadWrite:
              type: boolean
            globalPropertiesRead:
              type: boolean
            globalPropertiesReadWrite:
              type: boolean
            globalTasksReadWrite:
              type: boolean
            sendSMS:
              type: boolean
        websiteUrl:
          type: string
    PhoneNumber_2:
      type: object
      properties:
        number:
          type: string
        typeCode:
          type: string
          enum:
          - H
          - W
          - M
          - F
          - D
        type:
          type: string
          enum:
          - Home
          - Work
          - Mobile
          - Facsimile
          - Direct
        comment:
          type: string
    AddUpdateHolidayRentalProperty_2:
      allOf:
      - $ref: '#/components/schemas/AddUpdateResidentialProperty_2'
      - $ref: '#/components/schemas/AddUpdateLeaseProperty'
      - type: object
    PropertyClass_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        internalName:
          type: string
    ResidentialProperty_2:
      allOf:
      - $ref: '#/components/schemas/Property_2'
      - type: object
        properties:
          bed:
            type: integer
            format: int64
          bath:
            type: integer
            format: int64
          garages:
            type: integer
            format: int64
          carports:
            type: integer
            format: int64
          openSpaces:
            type: integer
            format: int64
          ensuites:
            type: integer
            format: int64
          toilets:
            type: integer
            format: int64
          receptionRooms:
            type: integer
            format: int64
          floorArea:
            $ref: '#/components/schemas/Area'
          status:
            type: string
            enum:
            - prospect
            - appraisal
            - listing
            - conditional
            - unconditional
            - settled
            - management
            - withdrawn
            - withdrawnAppraisal
          contactStaff:
            type: array
            items:
              $ref: '#/components/schemas/User_2'
          eTableUrl:
            type: string
          externalLinks:
            type: array
            items:
              $ref: '#/components/schemas/ExternalLink'
          energyRating:
            type: number
            format: float
    HolidayRentalPropertyExtended_2:
      allOf:
      - $ref: '#/components/schemas/HolidayRentalProperty_2'
      - type: object
        properties:
          accessBy:
            type: array
            items:
              $ref: '#/components/schemas/Access'
          leaseHistory:
            type: array
            items:
              $ref: '#/components/schemas/LeaseHistory'
          highlights:
            type: array
            items:
              type: string
    AddUpdateResidentialProperty_2:
      allOf:
      - $ref: '#/components/schemas/AddUpdateProperty_2'
      - type: object
        properties:
          bed:
            type: integer
            format: int64
          bath:
            type: integer
            format: int64
          garages:
            type: integer
            format: int64
          carports:
            type: integer
            format: int64
          openSpaces:
            type: integer
            format: int64
          ensuites:
            type: integer
            format: int64
          toilets:
            type: integer
            format: int64
          receptionRooms:
            type: integer
            format: int64
          floorArea:
            $ref: '#/components/schemas/Area'
          status:
            type: string
            enum:
            - prospect
            - appraisal
    HolidayRentalProperty_2:
      allOf:
      - $ref: '#/components/schemas/ResidentialProperty_2'
      - $ref: '#/components/schemas/LeaseProperty'
      - type: object
    AccountBranch:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        shortName:
          type: string
    PropertyType_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        propertyClass:
          $ref: '#/components/schemas/PropertyClass_2'
    AddUpdateExternalLink:
      type: object
      properties:
        url:
          type: string
        type:
          $ref: '#/components/schemas/ID'
    LeaseHistory_2:
      type: object
      properties:
        lifeId:
          type: number
          format: int64
        appraisal:
          type: string
          format: date-time
        appraisalPriceLower:
          type: number
          format: float
        appraisalPriceUpper:
          type: number
          format: float
        status:
          type: string
          enum:
          - prospect
          - appraisal
          - listing
          - conditional
          - unconditional
          - settled
          - management
          - withdrawn
          - withdrawnAppraisal
        portalStatus:
          type: string
          enum:
          - prospect
          - appraisal
          - listing
          - conditional
          - unconditional
          - settled
          - management
          - withdrawn
          - withdrawnAppraisal
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        contactStaff:
          type: array
          items:
            $ref: '#/components/schemas/Access_2'
        tenancyHistory:
          type: array
          items:
            $ref: '#/components/schemas/Tenancy'
        isNewHome:
          type: boolean
        webId:
          type: string
        furnished:
          $ref: '#/components/schemas/Furnished'
        internalMarketingLiveDate:
          type: string
          format: date-time
    Rate:
      type: object
      properties:
        value:
          type: number
          format: float
        period:
          type: string
          enum:
          - pa
          - pq
    Portal:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    Region:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    ContactSearchResult:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        greeting:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        emails:
          type: array
          items:
            type: string
            format: email
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber_3'
        marketingUsers:
          type: array
          items:
            $ref: '#/components/schemas/MarketingUser'
        editableBy:
          type: array
          items:
            $ref: '#/components/schemas/Access_2'
    AddUpdateLeaseProperty_2:
      type: object
      properties:
        externalLinks:
          type: array
          items:
            $ref: '#/components/schemas/ExternalLink'
        priceOnApplication:
          type: boolean
        authorityStart:
          type: string
          format: date-time
        authorityEnd:
          type: string
          format: date-time
        bondPrice:
          type: number
          format: float
        expenditureLimit:
          type: number
          format: float
        rates:
          type: object
          properties:
            council:
              $ref: '#/components/schemas/Rate'
    Property_3:
      type: object
      properties:
        id:
          type: integer
          format: int64
        building:
          $ref: '#/components/schemas/Building'
        class:
          $ref: '#/components/schemas/PropertyClass_3'
        type:
          $ref: '#/components/schemas/PropertyType_3'
        address:
          $ref: '#/components/schemas/Address_2'
        displayAddress:
          type: string
        addressVisibility:
          type: string
          enum:
          - streetAndSuburb
          - suburb
          - fullAddress
        referenceID:
          type: string
        photos:
          type: array
          items:
            $ref: '#/components/schemas/PropertyPhoto'
        searchPrice:
          type: number
          format: float
        displayPrice:
          type: string
        heading:
          type: string
        description:
          type: string
        brochureDescription:
          type: string
        windowCardDescription:
          type: string
        landArea:
          $ref: '#/components/schemas/Area'
        frontage:
          type: number
          format: float
        volumeNumber:
          type: string
        folioNumber:
          type: string
        corelogicId:
          type: integer
          format: int64
        yearBuilt:
          type: integer
          format: int64
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        saleLifeId:
          type: integer
          format: int64
        leaseLifeId:
          type: integer
          format: int64
        geolocation:
          $ref: '#/components/schemas/Geolocation'
        lotNumber:
          type: string
        certificateOfTitle:
          type: string
        legalDescription:
          type: string
        rpdp:
          type: string
        commercialListingType:
          type: string
          enum:
          - sale
          - lease
          - both
        councilTaxBand:
          type: string
        isStrataBuilding:
          type: boolean
        isProjectBuilding:
          type: boolean
        epcRating:
          type: string
        zoning:
          type: string
        account:
          type: object
          properties:
            id:
              type: integer
              format: int64
            name:
              type: string
      discriminator:
        propertyName: class
    Urls:
      type: object
      properties:
        previous:
          type: string
        next:
          type: string
        self:
          type: string
    AddUpdateProperty_3:
      type: object
      properties:
        branch:
          $ref: '#/components/schemas/ID'
        building:
          $ref: '#/components/schemas/ID'
        type:
          $ref: '#/components/schemas/ID'
        address:
          $ref: '#/components/schemas/UpdateAddress'
        referenceID:
          type: string
        searchPrice:
          type: number
          format: float
        displayPrice:
          type: string
        heading:
          type: string
        description:
          type: string
        brochureDescription:
          type: string
        windowCardDescription:
          type: string
        landArea:
          $ref: '#/components/schemas/Area'
        volumeNumber:
          type: string
        folioNumber:
          type: string
        corelogicId:
          type: integer
          format: int64
        yearBuilt:
          type: integer
          format: int64
        accessBy:
          type: array
          items:
            $ref: '#/components/schemas/ID'
        editableBy:
          type: array
          items:
            $ref: '#/components/schemas/ID'
        appraisal:
          type: string
          format: date-time
        appraisalPriceLower:
          type: number
          format: float
        appraisalPriceUpper:
          type: number
          format: float
        contactStaff:
          type: array
          items:
            $ref: '#/components/schemas/ID'
        externalLinks:
          type: array
          items:
            $ref: '#/components/schemas/AddUpdateExternalLink'
        mobileMarketingDescription:
          type: string
        internalRemarks:
          type: string
        certificateOfTitle:
          type: string
        legalDescription:
          type: string
        rpdp:
          type: string
        lotNumber:
          type: string
      discriminator:
        propertyName: class
    Access_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        photo:
          $ref: '#/components/schemas/UserPhoto'
        account:
          type: object
          properties:
            id:
              type: integer
              format: int64
            name:
              type: string
    PropertyKey:
      type: object
      properties:
        id:
          type: number
          format: int64
        propertyId:
          type: number
          format: int64
        name:
          type: string
        isKeyOut:
          type: boolean
        details:
          type: string
        hexColour:
          type: string
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        keyOutUser:
          $ref: '#/components/schemas/Access_2'
        keyOutContact:
          $ref: '#/components/schemas/ContactSearchResult'
    LeaseProperty_2:
      type: object
      properties:
        branch:
          $ref: '#/components/schemas/AccountBranch_2'
        mobileMarketingDescription:
          type: string
        internalRemarks:
          type: string
        externalLinks:
          type: array
          items:
            $ref: '#/components/schemas/ExternalLink'
        priceOnApplication:
          type: boolean
        authorityStart:
          type: string
          format: date-time
        authorityEnd:
          type: string
          format: date-time
        bondPrice:
          type: number
          format: float
        expenditureLimit:
          type: number
          format: float
        webId:
          type: string
        rates:
          type: object
          properties:
            council:
              $ref: '#/components/schemas/Rate'
        isNewHome:
          type: boolean
        soiUrl:
          type: string
        publishedToWeb:
          type: string
          format: date-time
        furnished:
          $ref: '#/components/schemas/Furnished'
        internalMarketingLiveDate:
          type: string
          format: date-time
    User_3:
      type: object
      properties:
        id:
          type: integer
          format: int64
        firstName:
          type: string
        lastName:
          type: string
        username:
          type: string
        email:
          type: string
          format: email
        adminAccess:
          type: boolean
        position:
          type: string
        role:
          type: string
          enum:
          - commercialSalesAndLeasing
          - residentialSales
          - propertyManagement
        photo:
          $ref: '#/components/schemas/UserPhoto'
        lastLogin:
          type: string
          format: date-time
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber_3'
        profile:
          type: string
        permissions:
          type: object
          properties:
            settings:
              type: boolean
            accessPropertyManagement:
              type: boolean
            accessSales:
              type: boolean
            canLogin:
              type: boolean
            deleteContacts:
              type: boolean
            deleteProperties:
              type: boolean
            globalActionListsReadWrite:
              type: boolean
            globalContactsReadWrite:
              type: boolean
            globalNotesRead:
              type: boolean
            globalNotesReadWrite:
              type: boolean
            globalPropertiesRead:
              type: boolean
            globalPropertiesReadWrite:
              type: boolean
            globalTasksReadWrite:
              type: boolean
            sendSMS:
              type: boolean
            accessPropertyFinancials:
              type: boolean
            accessAlarmDetails:
              type: boolean
            modifyWebsiteContent:
              type: boolean
            editMarketingContact:
              type: boolean
        websiteUrl:
          type: string
        showOnWeb:
          type: boolean
        externalReference:
          type: string
        ssoIdentifier:
          type: string
        signature:
          type: string
        account:
          type: object
          properties:
            id:
              type: integer
              format: int64
            name:
              type: string
        hideMobileFromPortal:
          type: boolean
    PhoneNumber_3:
      type: object
      properties:
        number:
          type: string
        typeCode:
          type: string
          enum:
          - H
          - W
          - M
          - F
          - D
        type:
          type: string
          enum:
          - Home
          - Work
          - Mobile
          - Facsimile
          - Direct
        comment:
          type: string
    CustomAddress:
      type: object
      properties:
        address1:
          type: string
        address2:
          type: string
        postTown:
          type: string
        postcode:
          type: string
    PortalAccess:
      type: object
      properties:
        id:
          type: integer
          format: int64
        code:
          type: string
        description:
          type: string
        portal:
          $ref: '#/components/schemas/Portal'
    AddUpdateHolidayRentalProperty_3:
      allOf:
      - $ref: '#/components/schemas/AddUpdateResidentialProperty_3'
      - $ref: '#/components/schemas/AddUpdateLeaseProperty_2'
      - type: object
    Tenancy:
      type: object
      properties:
        id:
          type: integer
          format: int64
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        rent:
          type: number
          format: float
        rentFrequency:
          $ref: '#/components/schemas/RentFrequency'
        archived:
          type: boolean
        letAgreed:
          type: boolean
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        rentPaidUntil:
          type: string
          format: date-time
        arrearsAmount:
          type: number
          format: float
        vacateDate:
          type: string
          format: date-time
    PropertyClass_3:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        internalName:
          type: string
    Address_2:
      type: object
      properties:
        level:
          type: string
        unitNumber:
          type: string
        streetNumber:
          type: string
        street:
          type: string
        suburb:
          $ref: '#/components/schemas/Suburb_2'
        state:
          $ref: '#/components/schemas/State'
        country:
          $ref: '#/components/schemas/Country'
        royalMail:
          $ref: '#/components/schemas/RoyalMail'
        customAddress:
          $ref: '#/components/schemas/CustomAddress'
    Suburb_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        postcode:
          type: string
        state:
          $ref: '#/components/schemas/State'
        nzDistrict:
          $ref: '#/components/schemas/District'
        isPoBox:
          type: boolean
    District:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        region:
          $ref: '#/components/schemas/Region'
    RoyalMail:
      type: object
      properties:
        buildingName:
          type: string
        buildingNumber:
          type: string
        department:
          type: string
        locality:
          type: string
        locality2:
          type: string
        organisation:
          type: string
        postTown:
          type: string
        postcode:
          type: string
        subbuildingName:
          type: string
        subbuildingNumber:
          type: string
        thoroughfare:
          type: string
        thoroughfare2:
          type: string
        udprn:
          type: integer
          format: int64
    ResidentialProperty_3:
      allOf:
      - $ref: '#/components/schemas/Property_3'
      - type: object
        properties:
          bed:
            type: integer
            format: int64
          bath:
            type: integer
            format: int64
          garages:
            type: integer
            format: int64
          carports:
            type: integer
            format: int64
          openSpaces:
            type: integer
            format: int64
          ensuites:
            type: integer
            format: int64
          toilets:
            type: integer
            format: int64
          receptionRooms:
            type: integer
            format: int64
          floorArea:
            $ref: '#/components/schemas/Area'
          status:
            type: string
            enum:
            - prospect
            - appraisal
            - listing
            - conditional
            - unconditional
            - settled
            - management
            - withdrawn
            - withdrawnAppraisal
          portalStatus:
            type: string
            enum:
            - prospect
            - appraisal
            - listing
            - conditional
            - unconditional
            - settled
            - management
            - withdrawn
            - withdrawnAppraisal
          contactStaff:
            type: array
            items:
              $ref: '#/components/schemas/User_3'
          eTableUrl:
            type: string
          externalLinks:
            type: array
            items:
              $ref: '#/components/schemas/ExternalLink'
          energyRating:
            type: number
            format: float
          isNewHome:
            type: boolean
          isHouseLandPackage:
            type: boolean
    MarketingUser:
      type: object
      properties:
        id:
          type: integer
          format: int64
        user:
          $ref: '#/components/schemas/Access_2'
    RentFrequency:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    HolidayRentalPropertyExtended_3:
      allOf:
      - $ref: '#/components/schemas/HolidayRentalProperty_3'
      - type: object
        properties:
          accessBy:
            type: array
            items:
              $ref: '#/components/schemas/Access_2'
          editableBy:
            type: array
            items:
              $ref: '#/components/schemas/Access_2'
          keys:
            type: array
            items:
              $ref: '#/components/schemas/PropertyKey'
          leaseHistory:
            type: array
            items:
              $ref: '#/components/schemas/LeaseHistory_2'
          highlights:
            type: array
            items:
              type: string
          portals:
            type: array
            items:
              $ref: '#/components/schemas/PortalAccess'
    AddUpdateResidentialProperty_3:
      allOf:
      - $ref: '#/components/schemas/AddUpdateProperty_3'
      - type: object
        properties:
          bed:
            type: integer
            format: int64
          bath:
            type: integer
            format: int64
          garages:
            type: integer
            format: int64
          carports:
            type: integer
            format: int64
          openSpaces:
            type: integer
            format: int64
          ensuites:
            type: integer
            format: int64
          toilets:
            type: integer
            format: int64
          receptionRooms:
            type: integer
            format: int64
          floorArea:
            $ref: '#/components/schemas/Area'
          status:
            type: string
            enum:
            - prospect
            - appraisal
    HolidayRentalProperty_3:
      allOf:
      - $ref: '#/components/schemas/ResidentialProperty_3'
      - $ref: '#/components/schemas/LeaseProperty_2'
      - type: object
    AccountBranch_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        shortName:
          type: string
        websiteUrl:
          type: string
        address:
          $ref: '#/components/schemas/Address_2'
    PropertyType_3:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        propertyClass:
          $ref: '#/components/schemas/PropertyClass_3'
    Furnished:
      type: object
      properties:
        id:
          type: integer
          format: int64
        type:
          type: string
          enum:
          - Unfurnished
          - Furnished
          - Part Furnished
          - Optional
  parameters:
    pagesize:
      name: pagesize
      in: query
      description: Number of records to be returned in each page.
      schema:
        type: integer
        format: int64
        default: 50
    page:
      name: page
      in: query
      description: Page number of results
      schema:
        type: integer
        format: int64
    published:
      name: published
      in: query
      description: Filter properties published to at least one web portal
      schema:
        type: boolean
    sortOrder:
      name: sortOrder
      in: query
      description: Order by which to sort the results. Used in conjunction with sort parameter.
      schema:
        type: string
        enum:
        - asc
        - desc
    modifiedSince:
      name: modifiedSince
      in: query
      description: Filter results modified since this datetime
      schema:
        type: string
        format: date-time
    modifiedBefore:
      name: modifiedBefore
      in: query
      description: Filter results modified before this datetime
      schema:
        type: string
        format: date-time
    publishedOnPortals:
      name: publishedOnPortals
      in: query
      description: Filter properties published to at least one of these office portal IDs
      style: form
      explode: false
      schema:
        type: array
        items:
          type: integer
          format: int64
    listingAuthorityBefore:
      name: listingAuthorityBefore
      in: query
      description: Filter results with listing authority date before this datetime
      schema:
        type: string
        format: date-time
    webLiveDateSince:
      name: webLiveDateSince
      in: query
      description: Filter results with web live date since this datetime
      schema:
        type: string
        format: date-time
    priceReducedSince:
      name: priceReducedSince
      in: query
      description: Filter results by price reductions since this datetime
      schema:
        type: string
        format: date-time
    listingAuthoritySince:
      name: listingAuthoritySince
      in: query
      description: Filter results with listing authority date since this datetime
      schema:
        type: string
        format: date-time
    priceReducedBefore:
      name: priceReducedBefore
      in: query
      description: Filter results by price reductions before this datetime
      schema:
        type: string
        format: date-time
    suburbs:
      name: suburbs
      in: query
      description: Filter properties in these suburb IDs
      style: form
      explode: false
      schema:
        type: array
        items:
          type: integer
          format: int64
    branches:
      name: branches
      in: query
      description: Filter properties in these account branch IDs
      style: form
      explode: false
      schema:
        type: array
        items:
          type: integer
          format: int64
    webLiveDateBefore:
      name: webLiveDateBefore
      in: query
      description: Filter results with web live date before this datetime
      schema:
        type: string
        format: date-time
    types:
      name: types
      in: query
      description: Filter properties with these property type IDs
      style: form
      explode: false
      schema:
        type: array
        items:
          type: integer
          format: int64
    propertyIds:
      name: propertyIds
      in: query
      description: Filter properties with these IDs
      style: form
      explode: false
      schema:
        type: array
        items:
          type: integer
          format: int64
    precincts:
      name: precincts
      in: query
      description: Filter properties belonging to at least one of these precincts IDs
      style: form
      explode: false
      schema:
        type: array
        items:
          type: integer
          format: int64
    accessBy:
      name: accessBy
      in: query
      description: Filter properties by these user IDs. NOTE - Use the ID "-1" to filter properties which are accessible by Everyone.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: integer
          format: int64
    customRegions:
      name: customRegions
      in: query
      description: Filter properties belonging to at least one of these custom regions IDs
      style: form
      explode: false
      schema:
        type: array
        items:
          type: integer
          format: int64
  securitySchemes:
    Api-Key:
      type: apiKey
      name: X-Api-Key
      in: header
    Bearer:
      type: apiKey
      description: Use format 'Bearer [token]'
      name: Authorization
      in: header
x-refined-from:
- vaultre-api-v1-1-openapi.yml
- vaultre-api-v1-2-openapi.yml
- vaultre-api-v1-3-openapi.yml
