openapi: 3.2.0
info:
  title: Vaultre Advertising API
  contact:
    name: VaultRE
    url: https://www.vaultre.com.au
    email: api@vaultre.com.au
  version: '1.0'
  description: 'Operations tagged advertising across 2 of this provider''s published API definitions: vaultre-api-v1-2-openapi.yml, vaultre-api-v1-3-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
tags:
- name: advertising
  description: Operations related to property and agent advertising
paths:
  /advertising/suppliers:
    get:
      tags:
      - advertising
      summary: Retrieve a list of advertising suppliers
      description: Retrieve a list of advertising suppliers
      operationId: getAdvertisingSuppliers
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Advertising suppliers retrieved
          content: {}
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have access to property financials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - advertising
      summary: Add a new advertising supplier
      description: Add a new advertising supplier
      operationId: addAdvertisingSupplier
      requestBody:
        description: Advertising Supplier object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUpdateAdvertisingSupplier'
        required: true
      responses:
        201:
          description: Advertising Supplier added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertisingSupplier'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have access to property financials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /advertising/suppliers/{id}:
    get:
      tags:
      - advertising
      summary: Retrieve a single advertising supplier
      description: Retrieve a single advertising supplier
      operationId: getAdvertisingSupplier
      parameters:
      - name: id
        in: path
        description: ID of the advertising supplier
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Advertising supplier retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertisingSupplier'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have access to property financials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - advertising
      summary: Update an advertising supplier
      description: Update an advertising supplier
      operationId: updateAdvertisingSupplier
      parameters:
      - name: id
        in: path
        description: ID of the advertising supplier
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Advertising Supplier object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUpdateAdvertisingSupplier'
        required: true
      responses:
        200:
          description: Advertising Supplier updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertisingSupplier'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have access to property financials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    delete:
      tags:
      - advertising
      summary: Delete an advertising supplier
      description: Delete an advertising supplier
      operationId: deleteAdvertisingSupplier
      parameters:
      - name: id
        in: path
        description: ID of the advertising supplier
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Advertising Supplier deleted
          content: {}
        403:
          description: User does not have access to property financials
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /advertising/invoices:
    get:
      tags:
      - advertising
      summary: Retrieve a list of advertising invoices
      description: Retrieve a list of advertising invoices
      operationId: getAdvertisingInvoices
      parameters:
      - $ref: '#/components/parameters/insertedSince'
      - $ref: '#/components/parameters/insertedBefore'
      - $ref: '#/components/parameters/modifiedSince'
      - $ref: '#/components/parameters/modifiedBefore'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - inserted
          - modified
      - $ref: '#/components/parameters/sortOrder'
      - name: saleLifeId
        in: query
        description: Filter invoices by sale life ID (property invoices)
        schema:
          type: integer
          format: int64
      - name: userIdInvoiced
        in: query
        description: Filter invoices by user ID invoiced (agent invoices)
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Advertising invoices retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdvertisingInvoice'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have access to property financials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /advertising/invoices/{id}:
    get:
      tags:
      - advertising
      summary: Retrieve a single advertising invoice
      description: Retrieve a single advertising invoice
      operationId: getAdvertisingInvoice
      parameters:
      - name: id
        in: path
        description: ID of the advertising invoice
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Advertising invoice retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertisingInvoice'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have access to property financials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /advertising/schedules:
    get:
      tags:
      - advertising
      summary: Retrieve a list of advertising schedules
      description: Retrieve a list of advertising schedules
      operationId: getAdvertisingSchedules
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Advertising schedules retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdvertisingSchedule'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have access to property financials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /advertising/schedules/{id}:
    get:
      tags:
      - advertising
      summary: Retrieve a single advertising schedule
      description: Retrieve a single advertising schedule
      operationId: getAdvertisingSchedule
      parameters:
      - name: id
        in: path
        description: ID of the advertising schedule
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Advertising schedule retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertisingScheduleWithItems'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have access to property financials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /advertising/expenseTypes:
    get:
      tags:
      - advertising
      summary: Retrieve a list of advertising expense types
      description: Retrieve a list of advertising expense types
      operationId: getAdvertisingExpenseTypes
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      - name: supplierId
        in: query
        description: Filter expense types by supplier
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Advertising expense types retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdvertisingExpenseType'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have access to property financials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /advertising/expenseTypes/{id}:
    get:
      tags:
      - advertising
      summary: Retrieve a single advertising expense type
      description: Retrieve a single advertising expense type
      operationId: getAdvertisingExpenseType
      parameters:
      - name: id
        in: path
        description: ID of the advertising expense type
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Advertising expense type retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertisingExpenseType'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have access to property financials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /properties/{propertyid}/sale/{lifeid}/advertising/schedule:
    get:
      tags:
      - advertising
      summary: Retrieve the attached advertising schedule for this property
      description: Retrieve the attached advertising schedule for this property
      operationId: getPropertyLifeAdvertisingSchedule
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Advertising schedule retrieved
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/AdvertisingAttachedScheduleWithItems'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have access to property financials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /properties/{propertyid}/sale/{lifeid}/advertising/transactions:
    get:
      tags:
      - advertising
      summary: Retrieve a list of property advertising transactions
      description: Retrieve a list of advertising transactions on a given property ledger
      operationId: getPropertyLifeAdvertisingTransactions
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Advertising transactions retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdvertisingTransaction'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have access to property financials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /types/advertising/transactions:
    get:
      tags:
      - advertising
      summary: Retrieve a list of advertising transaction types
      description: Retrieve a list of advertising transaction (ledger) types
      operationId: getAdvertisingTransactionTypes
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Advertising transaction types retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdvertisingLedgerType'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /types/advertising/payments:
    get:
      tags:
      - advertising
      summary: Retrieve a list of advertising payment types
      description: Retrieve a list of advertising payment types
      operationId: getAdvertisingPaymentTypes
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Advertising payment types retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdvertisingPaymentType'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /advertising/payments:
    post:
      tags:
      - advertising
      summary: Add an Advertising Payment
      description: Add an Advertising Payment to either a property ledger or agent ledger
      operationId: addAdvertisingPayment
      requestBody:
        description: Advertising Payment details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAdvertisingPayment'
        required: true
      responses:
        201:
          description: Advertising Payment added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertisingTransaction'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
components:
  schemas:
    AddUpdateAdvertisingSupplier:
      type: object
      properties:
        name:
          type: string
    SuccessOrError:
      type: object
      properties:
        success:
          type: boolean
        msg:
          type: string
        code:
          type: string
    AdvertisingSupplier:
      type: object
      properties:
        id:
          type: number
          format: int64
        name:
          type: string
    ID:
      type: object
      properties:
        id:
          type: integer
          format: int64
    AdvertisingSchedule:
      type: object
      properties:
        id:
          type: number
          format: int64
        name:
          type: string
    AdvertisingScheduleItem:
      type: object
      properties:
        id:
          type: number
          format: int64
        week:
          type: number
          format: int64
        dayOfWeek:
          type: string
        expenseType:
          $ref: '#/components/schemas/AdvertisingExpenseType'
    ContactMinimal:
      type: object
      properties:
        id:
          type: integer
          format: int64
        displayName:
          type: string
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        emails:
          type: array
          items:
            type: string
            format: email
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
    Urls:
      type: object
      properties:
        previous:
          type: string
        next:
          type: string
        self:
          type: string
    AdvertisingTransaction:
      type: object
      properties:
        id:
          type: number
          format: int64
        inserted:
          type: string
          format: date-time
        insertedBy:
          $ref: '#/components/schemas/Access'
        amount:
          type: number
          format: float
        companyContribution:
          type: number
          format: float
        saleLifeId:
          type: number
          format: int64
        description:
          type: string
        expenseType:
          $ref: '#/components/schemas/AdvertisingExpenseType'
        invoiceId:
          type: number
          format: int64
        linkedTransactionId:
          type: number
          format: int64
        paymentType:
          $ref: '#/components/schemas/AdvertisingPaymentType'
        referenceID:
          type: string
        transactionDate:
          type: string
          format: date-time
        transactionType:
          $ref: '#/components/schemas/AdvertisingLedgerType'
        userCharged:
          $ref: '#/components/schemas/Access'
        paymentIsTaxApplicable:
          type: boolean
          description: Applies to agent payments on property ledger only. Indicates if the amount includes tax.
    AdvertisingLedgerType:
      type: object
      properties:
        id:
          type: number
          format: int64
        name:
          type: string
    AdvertisingPaymentType:
      type: object
      properties:
        id:
          type: number
          format: int64
        name:
          type: string
    AdvertisingAttachedScheduleItem:
      type: object
      properties:
        id:
          type: number
          format: int64
        expenseType:
          $ref: '#/components/schemas/AdvertisingExpenseType'
        amount:
          type: number
          format: float
        companyContribution:
          type: number
          format: float
        actualDate:
          type: string
          format: date-time
        allocated:
          type: boolean
    PhoneNumber:
      type: object
      properties:
        number:
          type: string
        typeCode:
          type: string
          enum:
          - H
          - W
          - M
          - F
          - D
        type:
          type: string
          enum:
          - Home
          - Work
          - Mobile
          - Facsimile
          - Direct
        comment:
          type: string
    AdvertisingInvoice:
      type: object
      properties:
        id:
          type: number
          format: int64
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        invoiceNumber:
          type: string
        insertedBy:
          $ref: '#/components/schemas/Access'
        totalAmount:
          type: number
          format: float
        amountOutstanding:
          type: number
          format: float
        addressedTo:
          $ref: '#/components/schemas/ContactMinimal'
        gstRateUsed:
          type: number
          format: float
        userInvoiced:
          $ref: '#/components/schemas/Access'
        saleLifeId:
          type: number
          format: int64
        tenancyId:
          type: number
          format: int64
    AddAdvertisingPayment:
      type: object
      properties:
        amount:
          type: number
          format: float
        saleLifeId:
          type: number
          format: int64
        description:
          type: string
        invoiceId:
          type: number
          format: int64
        paymentType:
          $ref: '#/components/schemas/ID'
        referenceID:
          type: string
        transactionDate:
          type: string
          format: date-time
        transactionType:
          $ref: '#/components/schemas/ID'
        user:
          $ref: '#/components/schemas/ID'
        paymentIsTaxApplicable:
          type: boolean
          description: Applies to agent payments on property ledger only. Indicates if the amount includes tax.
    AdvertisingScheduleWithItems:
      allOf:
      - $ref: '#/components/schemas/AdvertisingSchedule'
      - type: object
        properties:
          schedule:
            type: array
            items:
              $ref: '#/components/schemas/AdvertisingScheduleItem'
    AdvertisingAttachedScheduleWithItems:
      allOf:
      - $ref: '#/components/schemas/AdvertisingAttachedSchedule'
      - type: object
        properties:
          schedule:
            type: array
            items:
              $ref: '#/components/schemas/AdvertisingAttachedScheduleItem'
    AdvertisingAttachedSchedule:
      type: object
      properties:
        id:
          type: number
          format: int64
        baseSchedule:
          $ref: '#/components/schemas/AdvertisingSchedule'
        startDate:
          type: string
          format: date-time
    UserPhoto:
      type: object
      properties:
        original:
          type: string
        thumb_360:
          type: string
    Access:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        photo:
          $ref: '#/components/schemas/UserPhoto'
        account:
          type: object
          properties:
            id:
              type: integer
              format: int64
            name:
              type: string
    AdvertisingExpenseType:
      type: object
      properties:
        id:
          type: number
          format: int64
        name:
          type: string
        supplier:
          $ref: '#/components/schemas/AdvertisingSupplier'
        gstInclusive:
          type: boolean
        amount:
          type: number
          format: float
        companyContribution:
          type: number
          format: float
  parameters:
    pagesize:
      name: pagesize
      in: query
      description: Number of records to be returned in each page.
      schema:
        type: integer
        format: int64
        default: 50
    page:
      name: page
      in: query
      description: Page number of results
      schema:
        type: integer
        format: int64
    sortOrder:
      name: sortOrder
      in: query
      description: Order by which to sort the results. Used in conjunction with sort parameter.
      schema:
        type: string
        enum:
        - asc
        - desc
    insertedBefore:
      name: insertedBefore
      in: query
      description: Filter results inserted before this datetime
      schema:
        type: string
        format: date-time
    modifiedSince:
      name: modifiedSince
      in: query
      description: Filter results modified since this datetime
      schema:
        type: string
        format: date-time
    insertedSince:
      name: insertedSince
      in: query
      description: Filter results inserted since this datetime
      schema:
        type: string
        format: date-time
    modifiedBefore:
      name: modifiedBefore
      in: query
      description: Filter results modified before this datetime
      schema:
        type: string
        format: date-time
  securitySchemes:
    Api-Key:
      type: apiKey
      name: X-Api-Key
      in: header
    Bearer:
      type: apiKey
      description: Use format 'Bearer [token]'
      name: Authorization
      in: header
x-refined-from:
- vaultre-api-v1-2-openapi.yml
- vaultre-api-v1-3-openapi.yml
