openapi: 3.2.0
info:
  title: Vaultre Properties API
  contact:
    name: VaultRE
    url: https://www.vaultre.com.au
    email: api@vaultre.com.au
  version: '1.0'
  description: 'Operations tagged properties across 4 of this provider''s published API definitions: vaultre-aggregator-api-v1-0-openapi.yml, vaultre-api-v1-1-openapi.yml, vaultre-api-v1-2-openapi.yml, vaultre-api-v1-3-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://aggregator.api.vaultre.com.au/api/v1.0
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
tags:
- name: Properties
  description: Operations related to properties
paths:
  /appraisal:
    post:
      tags:
      - Properties
      summary: Add/Update an appraisal
      operationId: addUpdateAppraisal
      requestBody:
        description: Appraisal object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appraisal'
        required: true
      responses:
        202:
          description: Data received successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data payload
          content: {}
      x-codegen-request-body-name: body
      security:
      - ApiKey: []
      - Bearer: []
    servers:
    - url: https://aggregator.api.vaultre.com.au/api/v1.0
  /listing:
    post:
      tags:
      - Properties
      summary: Add/Update a listing
      operationId: addUpdateListing
      requestBody:
        description: Listing object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Listing'
        required: true
      responses:
        202:
          description: Data received successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data payload
          content: {}
      x-codegen-request-body-name: body
      security:
      - ApiKey: []
      - Bearer: []
    servers:
    - url: https://aggregator.api.vaultre.com.au/api/v1.0
  /unconditional:
    post:
      tags:
      - Properties
      summary: Add/Update an unconditional sale
      operationId: addUpdateUnconditional
      requestBody:
        description: Unconditional object.<br />The sum of commissionSplits[].amountExGST must equal grossCommissionExGST.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Unconditional'
        required: true
      responses:
        202:
          description: Data received successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data payload
          content: {}
      x-codegen-request-body-name: body
      security:
      - ApiKey: []
      - Bearer: []
    servers:
    - url: https://aggregator.api.vaultre.com.au/api/v1.0
  /settlement:
    post:
      tags:
      - Properties
      summary: Add/Update a settlement
      operationId: addUpdateSettlement
      requestBody:
        description: Settlement object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Settlement'
        required: true
      responses:
        202:
          description: Data received successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data payload
          content: {}
      x-codegen-request-body-name: body
      security:
      - ApiKey: []
      - Bearer: []
    servers:
    - url: https://aggregator.api.vaultre.com.au/api/v1.0
  /withdrawn:
    post:
      tags:
      - Properties
      summary: Add/Update a withdrawn listing
      operationId: addUpdateWithdrawn
      requestBody:
        description: Withdrawn object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Withdrawn'
        required: true
      responses:
        202:
          description: Data received successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data payload
          content: {}
      x-codegen-request-body-name: body
      security:
      - ApiKey: []
      - Bearer: []
    servers:
    - url: https://aggregator.api.vaultre.com.au/api/v1.0
  /properties:
    get:
      tags:
      - Properties
      summary: Retrieve a list of properties
      operationId: getProperties
      parameters:
      - $ref: '#/components/parameters/modifiedSince'
      - $ref: '#/components/parameters/modifiedBefore'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - inserted
          - modified
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Properties retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{id}:
    get:
      tags:
      - Properties
      summary: Retrieve a single property
      operationId: getProperty
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Property retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyExtended'
      security:
      - Api-Key: []
        Bearer: []
    delete:
      tags:
      - Properties
      summary: Delete a property
      operationId: deleteProperty
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Property deleted
          content: {}
        400:
          description: Invalid data
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{id}/notes:
    get:
      tags:
      - Properties
      summary: Retrieve a list of notes attached to this property
      operationId: getPropertyNotes
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: types
        in: query
        description: Filter notes with type IDs
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - inserted
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Property notes retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - Properties
      summary: Add a note to this property
      operationId: addPropertyNote
      requestBody:
        description: Property note object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPropertyNote'
        required: true
      responses:
        201:
          description: Property note created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyNote'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{propertyid}/notes/{id}:
    get:
      tags:
      - Properties
      summary: Retrieve a single property note
      operationId: getPropertyNote
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the note
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Property note retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyNote'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Properties
      summary: Update a property note
      operationId: updatePropertyNote
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the note
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Property Note object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePropertyNote'
        required: true
      responses:
        200:
          description: Note updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactNote'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
        403:
          description: User does not have permission to modify property notes or note is read-only
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    delete:
      tags:
      - Properties
      summary: Delete a property note
      operationId: deletePropertyNote
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the note
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Property Note deleted
          content: {}
        400:
          description: Invalid data
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
        403:
          description: User does not have permission to delete property notes or note is read-only
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{id}/photos:
    get:
      tags:
      - Properties
      summary: Retrieve a list of photos for this property
      operationId: getPropertyPhotos
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Property photos retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - Properties
      summary: Upload a new photo to this property
      operationId: addPropertyPhoto
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - photo
              - published
              - type
              properties:
                photo:
                  type: string
                  description: The photo to be uploaded (GIF/PNG/JPG only)
                  format: binary
                caption:
                  type: string
                  description: The caption for the photo
                published:
                  type: boolean
                  description: Is the photo published or unpublished
                type:
                  type: string
                  description: The type of photo
                  enum:
                  - Photograph
                  - Floorplan
        required: true
      responses:
        201:
          description: Photo uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyPhoto'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
    delete:
      tags:
      - Properties
      summary: Delete multiple photos from this property
      description: Delete multiple photos from this property in a single operation. This endpoint allows bulk deletion of up to 50 photos at once.
      operationId: deletePropertyPhotos
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Bulk delete request containing list of photo IDs
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyPhotoBulkDeleteRequest'
        required: true
      responses:
        200:
          description: Bulk delete completed (some photos may have failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyPhotoBulkDeleteResponse'
        400:
          description: Some or all photos could not be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyPhotoBulkDeleteResponse'
        403:
          description: User does not have permission to delete photos from this property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_4'
        404:
          description: Property not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_4'
        422:
          description: Invalid input data (e.g., empty items list, too many items)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_4'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{propertyid}/photos/{id}:
    get:
      tags:
      - Properties
      summary: Retrieve a single photo for this property
      operationId: getPropertyPhoto
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the photo
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Property photo retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyPhoto'
      security:
      - Api-Key: []
        Bearer: []
    delete:
      tags:
      - Properties
      summary: Delete a photo attached to this property
      operationId: deletePropertyPhoto
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the photo
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Property photo deleted
          content: {}
        400:
          description: Invalid data
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Properties
      summary: Update photo metadata
      description: Update a property photo's caption, published status, or photo type (Photograph/Floorplan)
      operationId: updatePropertyPhoto
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the photo
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Photo metadata to update
        content:
          application/json:
            schema:
              type: object
              properties:
                caption:
                  type: string
                  description: Updated caption for the photo
                published:
                  type: boolean
                  description: Whether the photo should be published to web
                type:
                  type: string
                  description: Photo type
                  enum:
                  - Photograph
                  - Floorplan
            examples:
              setAsFloorplan:
                summary: Mark photo as floorplan
                value:
                  type: Floorplan
                  caption: Ground floor plan
              setAsPhoto:
                summary: Mark as standard photo
                value:
                  type: Photograph
              updateCaption:
                summary: Update caption only
                value:
                  caption: Updated living room photo
      responses:
        200:
          description: Property photo updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyPhoto'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_4'
        403:
          description: User does not have permission to update this property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_4'
        404:
          description: Property or photo not found
          content: {}
        422:
          description: Validation error - empty or malformed request body
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: object
        500:
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_4'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{propertyid}/photos/{id}/tags:
    get:
      tags:
      - Properties
      summary: Retrieve a list of tags for this property photo
      description: Retrieve a list of tags for this property photo, derived from Machine Learning analysis of property photos
      operationId: getPropertyPhotoTags
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the photo
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
          - confidence
      - $ref: '#/components/parameters/sortOrder'
      - name: minimumConfidence
        in: query
        description: Only return tags with a confidence greater than or equal to this number
        schema:
          type: number
          format: float
      - name: maximumConfidence
        in: query
        description: Only return tags with a confidence less than or equal to this number
        schema:
          type: number
          format: float
      responses:
        200:
          description: Photo tags retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{id}/tags:
    get:
      tags:
      - Properties
      summary: Retrieve a list of tags for this property
      description: Retrieve a list of tags for this property, derived from Machine Learning analysis of property photos
      operationId: getPropertyTags
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
          - confidence
      - $ref: '#/components/parameters/sortOrder'
      - name: minimumConfidence
        in: query
        description: Only return tags with a confidence greater than or equal to this number
        schema:
          type: number
          format: float
      - name: maximumConfidence
        in: query
        description: Only return tags with a confidence less than or equal to this number
        schema:
          type: number
          format: float
      responses:
        200:
          description: Property tags retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{id}/categories:
    get:
      tags:
      - Properties
      summary: Retrieve a list of categories to which this property belongs
      operationId: getPropertyCategories
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Property categories retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{id}/activityLog:
    get:
      tags:
      - Properties
      summary: Retrieve the activity log for a property
      operationId: getPropertyActivityLog
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Activity Log retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - Properties
      summary: Add a property activity note
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      operationId: addPropertyActivityNote
      requestBody:
        description: Activity Note Details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPropertyActivityNote'
        required: true
      responses:
        201:
          description: Activity Note Added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_4'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{id}/files:
    get:
      tags:
      - Properties
      summary: Retrieve a list of files attached to this property
      operationId: getPropertyFiles
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - inserted
          - modified
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Property files retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{id}/{salelease}/{lifeid}/files:
    get:
      tags:
      - Properties
      summary: Retrieve a list of files attached to this property life
      operationId: getPropertyFilesLife
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - inserted
          - modified
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Property files retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - Properties
      summary: Attach a file to this property life
      operationId: addPropertyFileLife
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              properties:
                file:
                  type: string
                  description: The file to be uploaded
                  format: binary
        required: true
      responses:
        201:
          description: File attached successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyFile'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{propertyid}/{salelease}/{lifeid}/files/{id}:
    get:
      tags:
      - Properties
      summary: Retrieve a single file attached to this property life
      operationId: getPropertyFileLife
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: id
        in: path
        description: ID of the file
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Property file retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyFile'
      security:
      - Api-Key: []
        Bearer: []
    delete:
      tags:
      - Properties
      summary: Delete a single file attached to this property life
      operationId: deletePropertyFileLife
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: id
        in: path
        description: ID of the file
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Property file deleted
          content: {}
        400:
          description: Invalid data
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{id}/{salelease}/{lifeid}/feedback:
    get:
      tags:
      - Properties
      summary: Retrieve a list of property feedback attached to this life
      operationId: getPropertyFeedbackLife
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: feedbackAfter
        in: query
        description: Filter feedback occurring on or after this date
        schema:
          type: string
          format: date
      - name: feedbackBefore
        in: query
        description: Filter feedback occurring before this date
        schema:
          type: string
          format: date
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - inserted
          - feedbackDate
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Property feedback retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - Properties
      summary: Attach feedback to this property life
      operationId: attachFeedbackToPropertyLife
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Property Feedback object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPropertyFeedback'
        required: true
      responses:
        201:
          description: Feedback attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyFeedback'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{propertyid}/{salelease}/{lifeid}/feedback/{id}:
    get:
      tags:
      - Properties
      summary: Retrieve a property feedback item attached to this life
      operationId: getSinglePropertyFeedbackLife
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the feedback
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Property feedback retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyFeedback'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Properties
      summary: Update a feedback item
      operationId: updateFeedback
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the feedback
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Property Feedback object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePropertyFeedback'
        required: true
      responses:
        200:
          description: Feedback updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyFeedback'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    delete:
      tags:
      - Properties
      summary: Delete a property feedback item
      operationId: deletePropertyFeedback
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the feedback
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Feedback deleted
          content: {}
        400:
          description: Invalid data
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{id}/{salelease}/{lifeid}/openHomes:
    get:
      tags:
      - Properties
      summary: Retrieve a list of open homes attached to this life
      operationId: getPropertyOpenHomes
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: startingAfter
        in: query
        description: Filter open homes occurring on or after this date
        schema:
          type: string
          format: date
      - name: startingBefore
        in: query
        description: Filter open homes occurring before this date
        schema:
          type: string
          format: date
      - name: userid
        in: path
        description: Filter open homes attached to this user
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - start
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Open Homes retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - Properties
      summary: Create a new open home for this property life
      operationId: addOpenHome
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Open Home object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUpdateOpenHome'
        required: true
      responses:
        201:
          description: Open Home created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenHome'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{propertyid}/{salelease}/{lifeid}/openHomes/{id}:
    get:
      tags:
      - Properties
      summary: Retrieve a single open home attached to this life
      operationId: getPropertyOpenHome
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the open home
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Open Home retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenHome'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Properties
      summary: Update an open home for this property life
      operationId: updateOpenHome
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the open home
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Open Home object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUpdateOpenHome'
        required: true
      responses:
        200:
          description: Open Home updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenHome'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    delete:
      tags:
      - Properties
      summary: Delete an open home
      operationId: deleteOpenHome
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the open home
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Open Home deleted
          content: {}
        400:
          description: Invalid data
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{id}/sale/{lifeid}/owners:
    get:
      tags:
      - Properties
      summary: Retrieve a list of owners attached to this property life
      operationId: getPropertyLifeOwners
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Owners retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Properties
      summary: Update owners for this property life
      operationId: updateOwnersForProperty
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Items object containing array of contact IDs
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: Owners updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    post:
      tags:
      - Properties
      summary: Attach an owner to this property life
      operationId: attachOwnerToProperty
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Contact ID object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ID'
        required: true
      responses:
        200:
          description: Owner attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{id}/lease/{lifeid}/landlords:
    get:
      tags:
      - Properties
      summary: Retrieve a list of landlords attached to this property life
      operationId: getPropertyLifeLandlords
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Landlords retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Properties
      summary: Update landlords for this property life
      operationId: updateLandlordsForProperty
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Items object containing array of contact IDs
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: Landlords updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    post:
      tags:
      - Properties
      summary: Attach a landlord to this property life
      operationId: attachLandlordToProperty
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Contact ID object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ID'
        required: true
      responses:
        200:
          description: Landlord attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{id}/sale/{lifeid}/purchasers:
    get:
      tags:
      - Properties
      summary: Retrieve a list of purchasers attached to this property life
      operationId: getPropertyLifePurchasers
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Purchasers retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Properties
      summary: Update purchasers for this property life
      operationId: updatePurchasersForProperty
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Items object containing array of contact IDs
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: Purchasers updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    post:
      tags:
      - Properties
      summary: Attach a purchaser to this property life
      operationId: attachPurchaserToProperty
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Contact ID object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ID'
        required: true
      responses:
        200:
          description: Purchaser attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{id}/lease/{lifeid}/tenancy/{tenancyid}/tenants:
    get:
      tags:
      - Properties
      summary: Retrieve a list of tenants attached to this tenancy
      operationId: getPropertyLifeTenancyTenants
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: tenancyid
        in: path
        description: ID of the tenancy
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Tenants retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Properties
      summary: Update tenants for this tenancy
      operationId: updateTenantsForProperty
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: tenancyid
        in: path
        description: ID of the tenancy
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Items object containing array of contact IDs
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: Tenants updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    post:
      tags:
      - Properties
      summary: Attach a tenant to this tenancy
      operationId: attachTenantToTenancy
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: tenancyid
        in: path
        description: ID of the tenancy
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Contact ID object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ID'
        required: true
      responses:
        200:
          description: Tenant attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{id}/features:
    get:
      tags:
      - Properties
      summary: Retrieve features for this property
      operationId: getPropertyFeatures
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Features retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Properties
      summary: Update features for this property
      operationId: updatePropertyFeatures
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Items object containing array of feature groups
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: Features retrieved
          content: {}
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{class}/{salelease}/{id}/custom:
    get:
      tags:
      - Properties
      summary: Retrieve a list of custom fields for a given property
      operationId: getPropertyCustomFields
      parameters:
      - name: class
        in: path
        description: Class of property
        required: true
        schema:
          type: string
      - name: salelease
        in: path
        description: Filter by sale or lease properties
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Custom fields retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Properties
      summary: Update the custom fields for this property
      operationId: updatePropertyCustomFields
      parameters:
      - name: class
        in: path
        description: Class of property
        required: true
        schema:
          type: string
      - name: salelease
        in: path
        description: Filter by sale or lease properties
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Items object containing array of custom fields
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: Custom fields updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_2'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{class}/{salelease}/upcomingOpenHomes:
    get:
      tags:
      - Properties
      summary: Retrieve a list of upcoming open homes
      operationId: getUpcomingOpenHomes
      parameters:
      - name: class
        in: path
        description: Class of property
        required: true
        schema:
          type: string
          enum:
          - residential
          - rural
          - holidayRental
      - name: salelease
        in: path
        description: Filter by sale or lease properties
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: days
        in: query
        description: Number of days to look ahead (default 7)
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Open Homes retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{salelease}:
    get:
      tags:
      - Properties
      summary: Retrieve a list of sale or lease properties
      operationId: getPropertiesLife
      parameters:
      - name: salelease
        in: path
        description: sale/lease
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - $ref: '#/components/parameters/modifiedSince'
      - $ref: '#/components/parameters/modifiedBefore'
      - $ref: '#/components/parameters/priceReducedSince'
      - $ref: '#/components/parameters/priceReducedBefore'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - inserted
          - modified
          - suburb
          - searchPrice
      - $ref: '#/components/parameters/sortOrder'
      - $ref: '#/components/parameters/suburbs'
      - $ref: '#/components/parameters/branches'
      - $ref: '#/components/parameters/types'
      - name: contactStaff
        in: query
        description: Filter properties with contactStaff containing this user ID
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: status
        in: query
        description: Filter by a list of statuses
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - prospect
            - appraisal
            - listing
            - conditional
            - listingOrConditional
            - unconditional
      - name: propertyClass
        in: query
        description: Filter by a list of property classes
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - residential
            - commercial
            - business
            - rural
            - holidayRental
            - land
      - name: availableOnly
        in: query
        description: Only used to if propertyClass equals 'commercial'
        schema:
          type: boolean
      - name: tenantedInvestmentOnly
        in: query
        description: Only used to if propertyClass equals 'commercial'
        schema:
          type: boolean
      - name: minBed
        in: query
        description: Filter properties greater than or equal to min beds
        schema:
          type: integer
          format: int64
      - name: minBath
        in: query
        description: Filter properties greater than or equal to min baths
        schema:
          type: integer
          format: int64
      - name: minCar
        in: query
        description: Filter properties greater than or equal to min car spaces
        schema:
          type: integer
          format: int64
      - name: minPricePerSqm
        in: query
        description: Filter properties greater than or equal to min price per sqm
        schema:
          type: number
          format: float
      - name: maxPricePerSqm
        in: query
        description: Filter properties less than or equal to max price per sqm
        schema:
          type: number
          format: float
      - name: minPrice
        in: query
        description: Filter properties greater than or equal to min price
        schema:
          type: number
          format: float
      - name: maxPrice
        in: query
        description: Filter properties less than or equal to max price
        schema:
          type: number
          format: float
      - name: minLand
        in: query
        description: Filter properties greater than or equal to min land. Must supply an area type.
        schema:
          type: number
          format: float
      - name: maxLand
        in: query
        description: Filter properties less than or equal to max land. Must supply an area type.
        schema:
          type: number
          format: float
      - name: areaType
        in: query
        description: Specify the units for minLand, maxLand filters
        schema:
          type: string
          enum:
          - sqm
          - acre
          - hectare
      - name: minFloor
        in: query
        description: Filter properties greater than or equal to min floor.
        schema:
          type: number
          format: float
      - name: maxFloor
        in: query
        description: Filter properties less than or equal to max floor.
        schema:
          type: number
          format: float
      responses:
        200:
          description: Properties retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{id}/photos/upload:
    post:
      tags:
      - Properties
      summary: Upload a new photo to this property
      description: Upload a new photo to this property. This endpoint returns an upload_url where the file data can be PUT. Can be used for large files.
      operationId: addPropertyPhotoUpload
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Photo upload object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyPhotoUpload'
        required: true
      responses:
        201:
          description: Photo record created. Photo data can now be posted to the returned URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileToBeUploaded'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{id}/{salelease}/{lifeid}/matchingContacts:
    get:
      tags:
      - Properties
      summary: Retrieve a list of contacts with requirements matching this property
      operationId: getPropertyMatchingContacts
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - inserted
          - modified
          - firstName
          - lastName
          - touched
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Matching contacts retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{id}/{salelease}/{lifeid}/files/upload:
    post:
      tags:
      - Properties
      summary: Attach a file to this property life
      description: Attach a file to this property life. This endpoint returns an upload_url where the file data can be PUT. Can be used for large files.
      operationId: addPropertyFileLifeUpload
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      requestBody:
        description: File upload object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyFileWithFoldersUpload'
        required: true
      responses:
        201:
          description: File record created. File data can now be posted to the returned URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileToBeUploaded'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{id}/{salelease}/{lifeid}/feedback/summary:
    get:
      tags:
      - Properties
      summary: Retrieve a summary of property feedback feedback attached to this life
      description: Retrieve a summary showing how many times each contact has provided feedback/interacted with this property life
      operationId: getPropertyFeedbackLifeSummary
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: feedbackAfter
        in: query
        description: Filter feedback occurring on or after this date
        schema:
          type: string
          format: date
      - name: feedbackBefore
        in: query
        description: Filter feedback occurring before this date
        schema:
          type: string
          format: date
      - $ref: '#/components/parameters/modifiedSince'
      - $ref: '#/components/parameters/modifiedBefore'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - count
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Property feedback summary retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{propertyid}/lease/{lifeid}/landlords/{id}:
    delete:
      tags:
      - Properties
      summary: Remove a landlord from this property life
      operationId: deleteLandlordForProperty
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the landlord
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Landlord removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{propertyid}/lease/{lifeid}/tenancy/{tenancyid}/tenants/{id}:
    delete:
      tags:
      - Properties
      summary: Remove a tenant from this property life
      operationId: deleteTenantForProperty
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: tenancyid
        in: path
        description: ID of the tenancy
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the tenant
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Tenant removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{propertyid}/sale/{lifeid}/owners/{id}:
    delete:
      tags:
      - Properties
      summary: Remove an owner from this property life
      operationId: deleteOwnerForProperty
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the owner
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Owner removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{propertyid}/sale/{lifeid}/purchasers/{id}:
    delete:
      tags:
      - Properties
      summary: Remove a purchaser from this property life
      operationId: deletePurchaserForProperty
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the purchaser
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Purchaser removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{id}/sale/{lifeid}/offerConditions:
    get:
      tags:
      - Properties
      summary: Retrieve a list of offer conditions for this property life
      operationId: getPropertyLifeOfferConditions
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: userid
        in: query
        description: Items related to this user ID
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Sort items by field
        schema:
          type: string
          enum:
          - due
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Offer Conditions retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{propertyid}/sale/{lifeid}/offerConditions/{id}:
    get:
      tags:
      - Properties
      summary: Retrieve an offer condition for this property life
      operationId: getPropertyLifeOfferCondition
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the offer condition
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Offer Condition retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyOfferCondition'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Properties
      summary: Update a property's offer condition
      operationId: updatePropertyOfferCondition
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the offer condition
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: PropertyOfferCondition object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePropertyOfferCondition'
        required: true
      responses:
        200:
          description: Offer Condition updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyOfferCondition'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{propertyid}/sale/{lifeid}/offerConditions/{id}/complete:
    put:
      tags:
      - Properties
      summary: Complete a property's offer condition
      operationId: completePropertyOfferCondition
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the offer condition
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Offer Condition updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{propertyid}/sale/{lifeid}/offerConditions/{id}/uncomplete:
    put:
      tags:
      - Properties
      summary: Uncomplete a property's offer condition
      operationId: uncompletePropertyOfferCondition
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the offer condition
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Offer Condition updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/lookup/{propertyReference}:
    get:
      tags:
      - Properties
      summary: Look up property information based on property reference
      description: Look up property information based on the property reference sent to portal sites (e.g. <uniqueID>)
      operationId: lookupPropertyByPortalReference
      parameters:
      - name: propertyReference
        in: path
        description: Property reference to look up
        required: true
        schema:
          type: string
      responses:
        200:
          description: Property retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyExtended'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{id}/sale/statusChange/listing:
    put:
      tags:
      - Properties
      summary: Convert a prospect or appraisal sale property to listing status
      operationId: convertToListing
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Status changed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
        400:
          description: Status could not be changed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{id}/lease/statusChange/management:
    put:
      tags:
      - Properties
      summary: Convert a prospect or appraisal lease property to management status
      operationId: convertToManagement
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Status changed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
        400:
          description: Status could not be changed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{id}/{salelease}/{lifeid}/interest:
    get:
      tags:
      - Properties
      summary: Retrieve a list of contacts and their interest related this property life
      operationId: getPropertyLifeInterest
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Property life interest retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{id}/{salelease}/{lifeid}/interest/{contactid}:
    get:
      tags:
      - Properties
      summary: Retrieve a single contact's interest in this property life
      operationId: getPropertyLifeInterestItem
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Property life interest retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyLifeInterest'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Properties
      summary: Update a contact's interest in this property life
      operationId: updatePropertyLifeInterest
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Interest object
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdatePropertyLifeInterest'
        required: true
      responses:
        200:
          description: Property life interest updated
          content: {}
        201:
          description: Property life interest added
          content: {}
        400:
          description: Invalid data
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{id}/{salelease}/{lifeid}/enquirySources:
    get:
      tags:
      - Properties
      summary: Retrieve a list of contacts and their source of enquiry related this property…
      description: Retrieve a list of contacts and their source of enquiry related this property life
      operationId: getPropertyLifeEnquirySources
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Property life enquiry sources retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{id}/{salelease}/{lifeid}/enquirySources/{contactid}:
    get:
      tags:
      - Properties
      summary: Retrieve a single contact's source of enquiry for this property life
      operationId: getPropertyLifeEnquirySourcesItem
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Property life enquiry source retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyLifeEnquirySource'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Properties
      summary: Update a contact's source of enquiry for this property life
      operationId: updatePropertyLifeEnquirySource
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease life record
        required: true
        schema:
          type: string
          enum:
          - sale
          - lease
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Enquiry Source object
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdatePropertyLifeEnquirySource'
        required: true
      responses:
        200:
          description: Property life enquiry source updated
          content: {}
        201:
          description: Property life enquiry source added
          content: {}
        400:
          description: Invalid data
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError_3'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /contacts/currentTenants:
    get:
      tags:
      - Properties
      summary: Retrieve a list of current tenants across all properties
      operationId: getCurrentTenants
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Tenants retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /contacts/currentLandlords:
    get:
      tags:
      - Properties
      summary: Retrieve a list of current landlords across all properties
      operationId: getCurrentLandlords
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Landlords retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /contacts/currentOwners:
    get:
      tags:
      - Properties
      summary: Retrieve a list of current owners/vendors across all sale properties
      operationId: getCurrentOwners
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Owners retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /contacts/currentPurchasers:
    get:
      tags:
      - Properties
      summary: Retrieve a list of current purchasers across all sale properties
      operationId: getCurrentPurchasers
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Purchasers retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
[...]
