openapi: 3.2.0
info:
  title: Vaultre Suggest API
  contact:
    name: VaultRE
    url: https://www.vaultre.com.au
    email: api@vaultre.com.au
  version: '1.0'
  description: 'Operations tagged suggest across 3 of this provider''s published API definitions: vaultre-api-v1-1-openapi.yml, vaultre-api-v1-2-openapi.yml, vaultre-api-v1-3-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
tags:
- name: suggest
  description: Operations related to suggest services
paths:
  /suggest/suburb:
    get:
      tags:
      - suggest
      summary: Search for a suburb
      description: Search for a suburb
      operationId: suggestSuburb
      parameters:
      - name: term
        in: query
        description: The suburb name (partial match) or postcode (exact match) to search by
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Suggestions retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /suggest/address/corelogic:
    get:
      tags:
      - suggest
      summary: Search for an address in CoreLogic
      description: Search for an address in CoreLogic
      operationId: suggestAddressCoreLogic
      parameters:
      - name: term
        in: query
        description: The term to search by
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Suggestions retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /suggest/district:
    get:
      tags:
      - suggest
      summary: Search for a district
      description: Search for a district, optionally by name of one of the suburbs within it
      operationId: suggestDistrict
      parameters:
      - name: term
        in: query
        description: The suburb name (partial match) or district name to search by
        required: true
        schema:
          type: string
      - name: matchSuburb
        in: query
        description: Search for a district based on `term` matching the name of a suburb
        schema:
          type: boolean
          default: true
      - name: exactMatch
        in: query
        description: Exactly match a district or suburb based on `term`
        schema:
          type: boolean
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Suggestions retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/NZDistrict'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
components:
  parameters:
    pagesize:
      name: pagesize
      in: query
      description: Number of records to be returned in each page.
      schema:
        type: integer
        format: int64
        default: 50
    sortOrder:
      name: sortOrder
      in: query
      description: Order by which to sort the results. Used in conjunction with sort parameter.
      schema:
        type: string
        enum:
        - asc
        - desc
    page:
      name: page
      in: query
      description: Page number of results
      schema:
        type: integer
        format: int64
  schemas:
    CoreLogicAddressSuggest:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    State:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        abbreviation:
          type: string
    Suburb:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        postcode:
          type: string
        state:
          $ref: '#/components/schemas/State'
        nzDistrict:
          $ref: '#/components/schemas/District'
        isPoBox:
          type: boolean
    District:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        region:
          $ref: '#/components/schemas/Region'
    Region:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    NZDistrict:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        suburbs:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                format: int64
              name:
                type: string
              postcode:
                type: string
              isPoBox:
                type: boolean
    Urls:
      type: object
      properties:
        previous:
          type: string
        next:
          type: string
        self:
          type: string
  securitySchemes:
    Api-Key:
      type: apiKey
      name: X-Api-Key
      in: header
    Bearer:
      type: apiKey
      description: Use format 'Bearer [token]'
      name: Authorization
      in: header
x-refined-from:
- vaultre-api-v1-1-openapi.yml
- vaultre-api-v1-2-openapi.yml
- vaultre-api-v1-3-openapi.yml
