openapi: 3.2.0
info:
  title: Vaultre Sms API
  contact:
    name: VaultRE
    url: https://www.vaultre.com.au
    email: api@vaultre.com.au
  version: '1.0'
  description: 'Operations tagged sms across 3 of this provider''s published API definitions: vaultre-api-v1-1-openapi.yml, vaultre-api-v1-2-openapi.yml, vaultre-api-v1-3-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
tags:
- name: SMS
  description: Operations related to SMS
paths:
  /contacts/{id}/sms:
    post:
      tags:
      - SMS
      summary: Send an SMS to this contact
      description: Send an SMS to this contact from the authenticated user (charges may apply).
      operationId: sendContactSMS
      requestBody:
        description: SMS object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SMS'
        required: true
      responses:
        201:
          description: SMS message queued to be sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have permission to send SMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /contacts/sms:
    post:
      tags:
      - SMS
      summary: Send multiple SMS messages to contacts
      description: Send multiple SMS messages to these contacts from the authenticated user (charges may apply). Maximum 50 recipients in any one request.
      operationId: sendBulkContactSMS
      requestBody:
        description: Array of SMS objects
        content:
          application/json: {}
        required: true
      responses:
        201:
          description: SMS messages queued to be sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have permission to send SMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
components:
  schemas:
    SMS:
      type: object
      properties:
        message:
          type: string
        number:
          type: string
    SuccessOrError:
      type: object
      properties:
        success:
          type: boolean
        msg:
          type: string
        code:
          type: string
    SMS_2:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/ID'
        message:
          type: string
        number:
          type: string
    ID:
      type: object
      properties:
        id:
          type: integer
          format: int64
    SMS_3:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/ID'
        message:
          type: string
        number:
          type: string
    BulkSMS:
      type: object
      properties:
        contact:
          $ref: '#/components/schemas/ID'
        message:
          type: string
        number:
          type: string
  securitySchemes:
    Api-Key:
      type: apiKey
      name: X-Api-Key
      in: header
    Bearer:
      type: apiKey
      description: Use format 'Bearer [token]'
      name: Authorization
      in: header
x-refined-from:
- vaultre-api-v1-1-openapi.yml
- vaultre-api-v1-2-openapi.yml
- vaultre-api-v1-3-openapi.yml
