openapi: 3.2.0
info:
  title: VaultRE Lists API
  description: Please ensure all API requests use HTTP/1.1. See https://github.com/VaultGroup/api-samples for code samples.
  contact:
    name: VaultRE
    url: https://www.vaultre.com.au
    email: api@vaultre.com.au
  version: '1.3'
servers:
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
tags:
- name: Lists
  description: Operations related to distribution lists
paths:
  /distributionLists/contact:
    get:
      tags:
      - Lists
      summary: Retrieve a list of contact distribution lists for this account
      operationId: getContactDistributionLists
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
          - inserted
          - modified
      - $ref: '#/components/parameters/sortOrder'
      - name: userid
        in: query
        description: 'Filter distribution lists by specific user ID(s).

          Accepts comma-separated list of user IDs.

          Example: `?userid=446,442`

          '
        schema:
          type: array
          items:
            type: integer
            format: int64
        style: form
        explode: false
      responses:
        200:
          description: Lists retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/DistributionList'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /distributionLists/contact/{id}:
    get:
      tags:
      - Lists
      summary: Retrieve a single contact distribution list
      operationId: getContactDistributionList
      parameters:
      - name: id
        in: path
        description: ID of the distribution list
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: List retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributionList'
      security:
      - Api-Key: []
        Bearer: []
components:
  parameters:
    page:
      name: page
      in: query
      description: Page number of results
      schema:
        type: integer
        format: int64
    sortOrder:
      name: sortOrder
      in: query
      description: Order by which to sort the results. Used in conjunction with sort parameter.
      schema:
        type: string
        enum:
        - asc
        - desc
    pagesize:
      name: pagesize
      in: query
      description: Number of records to be returned in each page.
      schema:
        type: integer
        format: int64
        default: 50
  schemas:
    Urls:
      type: object
      properties:
        previous:
          type: string
        next:
          type: string
        self:
          type: string
    DistributionList:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
  securitySchemes:
    Api-Key:
      type: apiKey
      name: X-Api-Key
      in: header
    Bearer:
      type: http
      scheme: bearer
