openapi: 3.2.0
info:
  title: Vaultre Calendar API
  contact:
    name: VaultRE
    url: https://www.vaultre.com.au
    email: api@vaultre.com.au
  version: '1.0'
  description: 'Operations tagged calendar across 3 of this provider''s published API definitions: vaultre-api-v1-1-openapi.yml, vaultre-api-v1-2-openapi.yml, vaultre-api-v1-3-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
tags:
- name: Calendar
  description: Operations related to calendar events
paths:
  /contacts/{id}/events:
    get:
      tags:
      - Calendar
      summary: Retrieve a list of calendar events attached to this contact
      operationId: getContactEvents
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - start
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Calendar events retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /calendar/events:
    get:
      tags:
      - Calendar
      summary: Get a list of calendar events for the user
      operationId: getCalendarEvents
      parameters:
      - name: startingAfter
        in: query
        description: Filter events starting on or after this datetime
        schema:
          type: string
          format: date-time
      - name: startingBefore
        in: query
        description: Filter events starting before this datetime
        schema:
          type: string
          format: date-time
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - start
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Calendar events retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - Calendar
      summary: Add a calendar event
      operationId: addCalendarEvent
      requestBody:
        description: Calendar event object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUpdateCalendarEvent'
        required: true
      responses:
        201:
          description: Calendar event created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarEvent'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /calendar/events/{id}:
    get:
      tags:
      - Calendar
      summary: Get a single calendar event
      operationId: getCalendarEvent
      parameters:
      - name: id
        in: path
        description: The ID of the calendar event
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Calendar event retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarEvent'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Calendar
      summary: Update a calendar event
      operationId: updateCalendarEvent
      parameters:
      - name: id
        in: path
        description: ID of the calendar event
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Calendar event object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUpdateCalendarEvent'
        required: true
      responses:
        200:
          description: Calendar event updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarEvent'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    delete:
      tags:
      - Calendar
      summary: Delete a calendar event
      operationId: deleteCalendarEvent
      parameters:
      - name: id
        in: path
        description: ID of the calendar event
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Calendar event deleted
          content: {}
        400:
          description: Invalid data
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
components:
  parameters:
    page:
      name: page
      in: query
      description: Page number of results
      schema:
        type: integer
        format: int64
    sortOrder:
      name: sortOrder
      in: query
      description: Order by which to sort the results. Used in conjunction with sort parameter.
      schema:
        type: string
        enum:
        - asc
        - desc
    pagesize:
      name: pagesize
      in: query
      description: Number of records to be returned in each page.
      schema:
        type: integer
        format: int64
        default: 50
  schemas:
    CalendarEvent:
      type: object
      properties:
        id:
          type: integer
          format: int64
        modified:
          type: string
          format: date-time
        recurring:
          type: boolean
        allDay:
          type: boolean
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        summary:
          type: string
        description:
          type: string
        reminderMinutes:
          type: integer
          format: int64
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/CalendarContact'
    AddUpdateCalendarEvent:
      type: object
      properties:
        recurring:
          type: boolean
        allDay:
          type: boolean
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        summary:
          type: string
        description:
          type: string
        reminderMinutes:
          type: integer
          format: int64
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/ID'
    ID:
      type: object
      properties:
        id:
          type: integer
          format: int64
    CalendarContact:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    SuccessOrError:
      type: object
      properties:
        success:
          type: boolean
        msg:
          type: string
        code:
          type: string
    CalendarEvent_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        modified:
          type: string
          format: date-time
        recurring:
          type: boolean
        allDay:
          type: boolean
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        summary:
          type: string
        description:
          type: string
        reminderMinutes:
          type: integer
          format: int64
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/CalendarContact'
        user:
          $ref: '#/components/schemas/Access'
    UserPhoto:
      type: object
      properties:
        original:
          type: string
        thumb_360:
          type: string
    Access:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        photo:
          $ref: '#/components/schemas/UserPhoto'
    AddUpdateCalendarEvent_2:
      type: object
      properties:
        recurring:
          type: boolean
        allDay:
          type: boolean
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        summary:
          type: string
        description:
          type: string
        reminderMinutes:
          type: integer
          format: int64
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/ID'
        user:
          $ref: '#/components/schemas/ID'
    AddUpdateCalendarEvent_3:
      type: object
      properties:
        recurring:
          type: boolean
        allDay:
          type: boolean
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        summary:
          type: string
        description:
          type: string
        reminderMinutes:
          type: integer
          format: int64
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/ID'
        user:
          $ref: '#/components/schemas/ID'
        isConfirmed:
          type: boolean
    CalendarEvent_3:
      type: object
      properties:
        id:
          type: integer
          format: int64
        modified:
          type: string
          format: date-time
        recurring:
          type: boolean
        allDay:
          type: boolean
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        summary:
          type: string
        description:
          type: string
        reminderMinutes:
          type: integer
          format: int64
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/CalendarContact'
        user:
          $ref: '#/components/schemas/Access_2'
        isConfirmed:
          type: boolean
        isCancelled:
          type: boolean
    Urls:
      type: object
      properties:
        previous:
          type: string
        next:
          type: string
        self:
          type: string
    Access_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        photo:
          $ref: '#/components/schemas/UserPhoto'
        account:
          type: object
          properties:
            id:
              type: integer
              format: int64
            name:
              type: string
  securitySchemes:
    Api-Key:
      type: apiKey
      name: X-Api-Key
      in: header
    Bearer:
      type: apiKey
      description: Use format 'Bearer [token]'
      name: Authorization
      in: header
x-refined-from:
- vaultre-api-v1-1-openapi.yml
- vaultre-api-v1-2-openapi.yml
- vaultre-api-v1-3-openapi.yml
