openapi: 3.2.0
info:
  title: Vaultre Contacts API
  contact:
    name: VaultRE
    url: https://www.vaultre.com.au
    email: api@vaultre.com.au
  version: '1.0'
  description: 'Operations tagged contacts across 3 of this provider''s published API definitions: vaultre-api-v1-1-openapi.yml, vaultre-api-v1-2-openapi.yml, vaultre-api-v1-3-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
tags:
- name: Contacts
  description: Operations related to contacts
paths:
  /contacts:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of contacts
      operationId: getContacts
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - $ref: '#/components/parameters/modifiedSince'
      - $ref: '#/components/parameters/modifiedBefore'
      - name: categories
        in: query
        description: Filter contacts belonging to category IDs
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - firstName
          - lastName
          - inserted
          - modified
          - touched
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Contacts retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - Contacts
      summary: Create a contact
      operationId: addContact
      requestBody:
        description: Contact object
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddContact'
        required: true
      responses:
        201:
          description: Contact created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactExtended'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /contacts/{id}:
    get:
      tags:
      - Contacts
      summary: Retrieve a single contact
      operationId: getContact
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Contact retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactExtended'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Contacts
      summary: Update a single contact
      operationId: updateContact
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Contact object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContact'
        required: true
      responses:
        200:
          description: Contact updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactExtended'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    delete:
      tags:
      - Contacts
      summary: Delete a contact
      operationId: deleteContact
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Contact deleted
          content: {}
        400:
          description: Invalid data
          content: {}
        403:
          description: User does not have permission to delete contacts
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /contacts/{id}/sms:
    post:
      tags:
      - Contacts
      summary: Send an SMS to this contact
      description: Send an SMS to this contact from the authenticated user (charges may apply).
      operationId: sendContactSMS
      requestBody:
        description: SMS object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SMS'
        required: true
      responses:
        201:
          description: SMS message queued to be sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have permission to send SMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /contacts/sms:
    post:
      tags:
      - Contacts
      summary: Send multiple SMS messages to contacts
      description: Send multiple SMS messages to these contacts from the authenticated user (charges may apply). Maximum 50 recipients in any one request.
      operationId: sendBulkContactSMS
      requestBody:
        description: Array of SMS objects
        content:
          application/json: {}
        required: true
      responses:
        201:
          description: SMS messages queued to be sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have permission to send SMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /contacts/{id}/context:
    get:
      tags:
      - Contacts
      summary: Retrieve contextual information about this contact
      operationId: getContactContext
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Contact context retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactContext'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /contacts/recentlyAccessed:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of recently accessed contacts
      operationId: getRecentlyAccessedContacts
      responses:
        200:
          description: Contacts retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /contacts/{id}/notes:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of notes attached to this contact
      operationId: getContactNotes
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - name: types
        in: query
        description: Filter notes with type IDs
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - inserted
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Contact notes retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - Contacts
      summary: Add a note to this contact
      operationId: addContactNote
      requestBody:
        description: Contact note object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContactNote'
        required: true
      responses:
        201:
          description: Contact note created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactNote'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /contacts/notes:
    post:
      tags:
      - Contacts
      summary: Add multiple contact notes
      description: Add multiple contact notes in a batch. Maximum 100 notes in any one request.
      operationId: addBulkContactNote
      requestBody:
        description: Bulk contact note object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkContactNote'
        required: true
      responses:
        201:
          description: Contact notes created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /contacts/{contactid}/notes/{id}:
    get:
      tags:
      - Contacts
      summary: Retrieve a single contact note
      operationId: getContactNote
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the note
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Contact note retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactNote'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Contacts
      summary: Update a contact note
      operationId: updateContactNote
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the note
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Contact Note object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContactNote'
        required: true
      responses:
        200:
          description: Note updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactNote'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have permission to modify contact notes or note is read-only
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    delete:
      tags:
      - Contacts
      summary: Delete a contact note
      operationId: deleteContactNote
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the note
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Contact Note deleted
          content: {}
        400:
          description: Invalid data
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have permission to delete contact notes or note is read-only
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /contacts/{id}/categories:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of categories to which this contact belongs
      operationId: getCategoriesContact
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Contact categories retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Contacts
      summary: Update the categories to which this contact belongs
      operationId: updateCategoriesContact
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Items object containing array of contact category IDs
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: Contact categories updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    post:
      tags:
      - Contacts
      summary: Attach a category to this contact
      operationId: attachCategoryContact
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Category ID object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ID'
        required: true
      responses:
        200:
          description: Contact category attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /contacts/{id}/custom:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of custom fields for this contact
      operationId: getContactCustomFields
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Custom fields retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Contacts
      summary: Update the custom fields for this contact
      operationId: updateContactCustomFields
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Items object containing array of custom fields
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: Custom fields updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /contacts/{id}/files:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of files attached to this contact
      operationId: getContactFiles
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - inserted
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Files retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - Contacts
      summary: Attach a file to this contact
      description: Attach a file to this contact. This endpoint is suitable for smaller files (<5MB). For larger files use POST /contacts/{id}/files/upload
      operationId: addContactFile
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              properties:
                file:
                  type: string
                  description: The file to be uploaded
                  format: binary
        required: true
      responses:
        201:
          description: File attached successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactFile'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /contacts/{id}/events:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of calendar events attached to this contact
      operationId: getContactEvents
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - start
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Calendar events retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /contacts/{id}/touch:
    put:
      tags:
      - Contacts
      summary: Mark the contact record as touched
      operationId: touchContact
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Contact touched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /contacts/{id}/requirements:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of buying/renting requirements for this contact
      operationId: getContactRequirements
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - inserted
          - modified
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Requirements retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - Contacts
      summary: Add a requirement for this contact
      operationId: addContactRequirement
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Contact Requirement object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUpdateContactRequirement'
        required: true
      responses:
        201:
          description: Contact Requirement created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRequirement'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /contacts/{contactid}/requirements/{id}:
    get:
      tags:
      - Contacts
      summary: Retrieve a single buying/renting requirement for this contact
      operationId: getContactRequirement
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the requirement
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Contact requirement retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRequirement'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Contacts
      summary: Update a requirement for this contact
      operationId: updateContactRequirement
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the requirement
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Contact Requirement object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUpdateContactRequirement'
        required: true
      responses:
        200:
          description: Contact Requirement updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRequirement'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    delete:
      tags:
      - Contacts
      summary: Delete a buying/renting requirement for the contact
      operationId: deleteContactRequirement
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the requirement
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Requirement deleted
          content: {}
        400:
          description: Invalid data
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{id}/sale/{lifeid}/owners:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of owners attached to this property life
      operationId: getPropertyLifeOwners
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Owners retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Contacts
      summary: Update owners for this property life
      operationId: updateOwnersForProperty
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Items object containing array of contact IDs
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: Owners updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    post:
      tags:
      - Contacts
      summary: Attach an owner to this property life
      operationId: attachOwnerToProperty
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Contact ID object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ID'
        required: true
      responses:
        200:
          description: Owner attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{id}/lease/{lifeid}/landlords:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of landlords attached to this property life
      operationId: getPropertyLifeLandlords
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Landlords retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Contacts
      summary: Update landlords for this property life
      operationId: updateLandlordsForProperty
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Items object containing array of contact IDs
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: Landlords updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    post:
      tags:
      - Contacts
      summary: Attach a landlord to this property life
      operationId: attachLandlordToProperty
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Contact ID object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ID'
        required: true
      responses:
        200:
          description: Landlord attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{id}/sale/{lifeid}/purchasers:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of purchasers attached to this property life
      operationId: getPropertyLifePurchasers
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Purchasers retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Contacts
      summary: Update purchasers for this property life
      operationId: updatePurchasersForProperty
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Items object containing array of contact IDs
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: Purchasers updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    post:
      tags:
      - Contacts
      summary: Attach a purchaser to this property life
      operationId: attachPurchaserToProperty
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Contact ID object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ID'
        required: true
      responses:
        200:
          description: Purchaser attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /properties/{id}/lease/{lifeid}/tenancy/{tenancyid}/tenants:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of tenants attached to this tenancy
      operationId: getPropertyLifeTenancyTenants
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: tenancyid
        in: path
        description: ID of the tenancy
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Tenants retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Contacts
      summary: Update tenants for this tenancy
      operationId: updateTenantsForProperty
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: tenancyid
        in: path
        description: ID of the tenancy
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Items object containing array of contact IDs
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: Tenants updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    post:
      tags:
      - Contacts
      summary: Attach a tenant to this tenancy
      operationId: attachTenantToTenancy
      parameters:
      - name: id
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: tenancyid
        in: path
        description: ID of the tenancy
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Contact ID object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ID'
        required: true
      responses:
        200:
          description: Tenant attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /contacts/{id}/email:
    post:
      tags:
      - Contacts
      summary: Send an email to this contact
      description: Send an email to this contact from the authenticated user or selected user (if provided).
      operationId: sendContactEmail
      requestBody:
        description: Email object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Email'
        required: true
      responses:
        201:
          description: Email message queued to be sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have permission to send email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /contacts/email:
    post:
      tags:
      - Contacts
      summary: Send multiple emails to contacts
      description: Send multiple emails to these contacts from the authenticated user or selected user (if provided). Maximum 50 recipients in any one request.
      operationId: sendBulkContactEmail
      requestBody:
        description: Array of Email objects
        content:
          application/json: {}
        required: true
      responses:
        201:
          description: Email messages queued to be sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have permission to send email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /contacts/{id}/categories/remove:
    put:
      tags:
      - Contacts
      summary: Remove categories from this contact
      operationId: removeCategoryContact
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Items object containing array of contact category IDs
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: Contact categories removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /contacts/{id}/files/upload:
    post:
      tags:
      - Contacts
      summary: Attach a file to this contact
      description: Attach a file to this contact. This endpoint returns an upload_url where the file data can be PUT. Can be used for large files.
      operationId: addContactFileUpload
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: File upload object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactFileUpload'
        required: true
      responses:
        201:
          description: File record created. File data can now be posted to the returned URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileToBeUploaded'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /contacts/{contactid}/files/{id}:
    get:
      tags:
      - Contacts
      summary: Retrieve a single file attached to this contact
      operationId: getContactFile
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the file
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: File retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactFile'
      security:
      - Api-Key: []
        Bearer: []
    delete:
      tags:
      - Contacts
      summary: Delete a file attached to this contact
      operationId: deleteContactFile
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the file
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: File deleted
          content: {}
        400:
          description: Invalid data
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{propertyid}/lease/{lifeid}/landlords/{id}:
    delete:
      tags:
      - Contacts
      summary: Remove a landlord from this property life
      operationId: deleteLandlordForProperty
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the landlord
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Landlord removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{propertyid}/lease/{lifeid}/tenancy/{tenancyid}/tenants/{id}:
    delete:
      tags:
      - Contacts
      summary: Remove a tenant from this property life
      operationId: deleteTenantForProperty
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: tenancyid
        in: path
        description: ID of the tenancy
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the tenant
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Tenant removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{propertyid}/sale/{lifeid}/owners/{id}:
    delete:
      tags:
      - Contacts
      summary: Remove an owner from this property life
      operationId: deleteOwnerForProperty
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the owner
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Owner removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /properties/{propertyid}/sale/{lifeid}/purchasers/{id}:
    delete:
      tags:
      - Contacts
      summary: Remove a purchaser from this property life
      operationId: deletePurchaserForProperty
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the purchaser
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Purchaser removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /contacts/requirements:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of buying/renting requirements across all contacts
      operationId: getContactRequirementsBulk
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - $ref: '#/components/parameters/modifiedSince'
      - $ref: '#/components/parameters/modifiedBefore'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - inserted
          - modified
      - $ref: '#/components/parameters/sortOrder'
      - name: active
        in: query
        description: Filter active/inactive requirements
        schema:
          type: boolean
      responses:
        200:
          description: Requirements retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /contacts/marketingUsers:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of contact marketing users across all contacts
      operationId: getContactMarketingUsersBulk
      parameters:
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - modified
      - $ref: '#/components/parameters/sortOrder'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - $ref: '#/components/parameters/modifiedSince'
      - $ref: '#/components/parameters/modifiedBefore'
      responses:
        200:
          description: Marketing Users retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /contacts/currentTenants:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of current tenants across all properties
      operationId: getCurrentTenants
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Tenants retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /contacts/currentLandlords:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of current landlords across all properties
      operationId: getCurrentLandlords
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Landlords retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /contacts/currentOwners:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of current owners/vendors across all sale properties
      operationId: getCurrentOwners
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Owners retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /contacts/currentPurchasers:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of current purchasers across all sale properties
      operationId: getCurrentPurchasers
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Purchasers retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /contacts/categories:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of contact category mappings across all contacts
      operationId: getCategoriesContactBulk
      parameters:
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - modified
      - $ref: '#/components/parameters/sortOrder'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - $ref: '#/components/parameters/modifiedSince'
      - $ref: '#/components/parameters/modifiedBefore'
      responses:
        200:
          description: Categories retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /contacts/{id}/access:
    post:
      tags:
      - Contacts
      summary: Allow a user to access this contact
      operationId: addContactAccess
      requestBody:
        description: Array of user ID's
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: Contact access successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /contacts/{id}/activityLog:
    get:
      tags:
      - Contacts
      summary: Retrieve the activity log for a contact
      operationId: getContactActivityLog
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Activity Log retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /contacts/sourceOfEnquiry:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of contact source of enquiry across all contacts
      operationId: getContactSourceOfEnquiryBulk
      parameters:
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - modified
      - $ref: '#/components/parameters/sortOrder'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - $ref: '#/components/parameters/modifiedSince'
      - $ref: '#/components/parameters/modifiedBefore'
      responses:
        200:
          description: Records retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BulkContactSourceOfEnquiry'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /contacts/dates:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of contact dates across all contacts
      operationId: getContactDatesBulk
      parameters:
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - modified
      - $ref: '#/components/parameters/sortOrder'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - $ref: '#/components/parameters/modifiedSince'
      - $ref: '#/components/parameters/modifiedBefore'
      responses:
        200:
          description: Dates retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactAndDate'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /contacts/{contactid}/bankAccounts/default:
    get:
      tags:
      - Contacts
      summary: Retrieve the default bank account for this contact
      operationId: getDefaultContactBankAccount
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Bank Account retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactBankAccount'
        403:
          description: User does not have access to contact bank accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        404:
          description: Contact does not have a default bank account set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Contacts
      summary: Update the contact's default bank account
      operationId: updateDefaultContactBankAccount
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: ContactBankAccount object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUpdateContactBankAccount'
        required: true
      responses:
        200:
          description: Contact bank account updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactBankAccount'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have access to contact bank accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    delete:
      tags:
      - Contacts
      summary: Delete the default bank account for this contact
      operationId: deleteDefaultContactBankAccount
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Contact bank account deleted
          content: {}
        403:
          description: User does not have access to contact bank accounts
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /contacts/{contactid}/dates:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of dates for this contact
      operationId: getContactDates
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Dates retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactDate'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /contacts/{contactid}/merged:
    get:
      tags:
      - Contacts
      summary: Retrieve a list of contact ID's merged to this contact
      description: Retrieve a list of contact ID's that have been merged in to this contact (as duplicate records)
      operationId: getContactMergedDuplicates
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Merged duplicates retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ID'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /contacts/{contactid}/gdpr:
    get:
      tags:
      - Contacts
      summary: Retrieve GDPR consent records for a contact
      description: Retrieve GDPR consent opt-in records for a contact
      operationId: getContactGdprOptins
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results
        schema:
          type: string
          enum:
          - inserted
          - modified
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: GDPR consent records retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/GdprOptin'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
        404:
          description: Contact not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /contacts/matchingRequirement/count:
    post:
      tags:
      - Contacts
      summary: Get a count of contacts matching the provided buy/lease requirement
      operationId: getMatchingContactsCount
      requestBody:
        description: Request object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MatchingContactsRequest'
        required: true
      responses:
        200:
          description: Count of matching contacts retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  matchingContacts:
                    type: integer
                    format: int64
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /contacts/merge:
    post:
      tags:
      - Contacts
      summary: Submit a request for two contacts to be merged
      description: Submit a request for two contacts to be merged. The merge will be processed asynchronously and may take some time to complete. Integrators should subscribe to the "contact.merge" webhook event to be notified when the merge has completed. The returned "requestid" can be used by the MRI Vault team for any technical investigations.
      operationId: mergeContacts
      requestBody:
        description: Request object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeContactRequest'
        required: true
      responses:
        202:
          description: Merge request accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestid:
                    type: string
                  message:
                    type: string
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
components:
  schemas:
    PhoneNumber:
      type: object
      properties:
        number:
          type: string
        typeCode:
          type: string
          enum:
          - H
          - W
          - M
          - F
          - D
        type:
          type: string
          enum:
          - Home
          - Work
          - Mobile
          - Facsimile
          - Direct
    LinkedProperty:
      type: object
      properties:
        id:
          type: integer
          format: int64
        displayAddress:
          type: string
        saleLifeId:
          type: integer
          format: int64
        leaseLifeId:
          type: integer
          format: int64
        relationship:
          type: string
          enum:
          - pastOwner
          - owner
          - landlord
          - tenant
          - purchaser
        status:
          type: string
          enum:
          - prospect
          - appraisal
          - listing
          - conditional
          - unconditional
          - settled
          - management
          - withdrawn
        class:
          $ref: '#/components/schemas/PropertyClass'
        photo:
          $ref: '#/components/schemas/PropertyPhoto'
    ContactNoteTypePurpose:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    Suburb:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        postcode:
          type: string
        state:
          $ref: '#/components/schemas/State'
    AddContactNoteReminder:
      type: object
      properties:
        date:
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/ID'
    Country:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        isocode:
          type: string
        gstRate:
          type: number
          format: float
    Category:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    ContactNoteType:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        colour:
          type: string
        defaultReadOnly:
          type: boolean
        purpose:
          $ref: '#/components/schemas/ContactNoteTypePurpose'
    AddContact:
      allOf:
      - $ref: '#/components/schemas/UpdateContact'
      - type: object
        properties:
          inserted:
            type: string
            format: date-time
    Contact:
      type: object
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        greeting:
          type: string
        displayName:
          type: string
        partnerTitle:
          type: string
        partnerFirstName:
          type: string
        partnerLastName:
          type: string
        company:
          type: string
        position:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        postalAddress:
          $ref: '#/components/schemas/Address'
        onDoNotCallList:
          type: boolean
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        touched:
          type: string
          format: date-time
        remoteId:
          type: string
        unsubscribe:
          $ref: '#/components/schemas/Unsubscribe'
        emails:
          type: array
          items:
            type: string
            format: email
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        legalDescription:
          type: string
    Address:
      type: object
      properties:
        level:
          type: string
        unitNumber:
          type: string
        streetNumber:
          type: string
        street:
          type: string
        suburb:
          $ref: '#/components/schemas/Suburb'
        state:
          $ref: '#/components/schemas/State'
        country:
          $ref: '#/components/schemas/Country'
    PropertyPhotoThumbnails:
      type: object
      properties:
        thumb_180:
          type: string
        thumb_1024:
          type: string
    Unsubscribe:
      type: object
      properties:
        email:
          type: boolean
        sms:
          type: boolean
        letters:
          type: boolean
    ID:
      type: object
      properties:
        id:
          type: integer
          format: int64
    UpdateContact:
      type: object
      properties:
        title:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        greeting:
          type: string
        partnerTitle:
          type: string
        partnerFirstName:
          type: string
        partnerLastName:
          type: string
        company:
          type: string
        position:
          type: string
        address:
          $ref: '#/components/schemas/UpdateAddress'
        postalAddress:
          $ref: '#/components/schemas/UpdateAddress'
        onDoNotCallList:
          type: boolean
        unsubscribe:
          $ref: '#/components/schemas/Unsubscribe'
        emails:
          type: array
          items:
            type: string
            format: email
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        legalDescription:
          type: string
        accessBy:
          type: array
          items:
            $ref: '#/components/schemas/ID'
        sourceOfEnquiry:
          $ref: '#/components/schemas/ID'
    ContactRequirement:
      type: object
      properties:
        id:
          type: integer
          format: int64
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        active:
          type: boolean
        propertyClass:
          $ref: '#/components/schemas/PropertyClass'
        minimumPrice:
          type: number
          format: float
        maximumPrice:
          type: number
          format: float
        minimumBed:
          type: integer
          format: int64
        minimumBath:
          type: integer
          format: int64
        minimumCar:
          type: integer
          format: int64
        minimumPricePerSQM:
          type: number
          format: float
        maximumPricePerSQM:
          type: number
          format: float
        landArea:
          $ref: '#/components/schemas/AreaRange'
        buildingArea:
          $ref: '#/components/schemas/AreaRange'
        propertyTypes:
          type: array
          items:
            $ref: '#/components/schemas/PropertyType'
        suburbs:
          type: array
          items:
            $ref: '#/components/schemas/Suburb'
        type:
          type: string
          enum:
          - sale
          - lease
          - saleOrLease
    AreaRange:
      type: object
      properties:
        minimum:
          type: integer
          format: int64
        maximum:
          type: integer
          format: int64
        units:
          type: string
          enum:
          - sqm
          - acre
          - hectare
    AddContactNote:
      type: object
      properties:
        body:
          type: string
        readOnly:
          type: boolean
        type:
          $ref: '#/components/schemas/ID'
        reminder:
          $ref: '#/components/schemas/AddContactNoteReminder'
        inserted:
          type: string
          format: date-time
    EnquirySource:
      type: object
      properties:
        id:
          type: number
          format: int64
        name:
          type: string
    BulkContactNote:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ID'
        readOnly:
          type: boolean
        inserted:
          type: string
          format: date-time
        notes:
          type: array
          items:
            type: object
            properties:
              contact:
                $ref: '#/components/schemas/ID'
              body:
                type: string
    PropertyClass:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    SMS:
      type: object
      properties:
        message:
          type: string
        number:
          type: string
    UpdateAddress:
      type: object
      properties:
        level:
          type: string
        unitNumber:
          type: string
        streetNumber:
          type: string
        street:
          type: string
        suburb:
          $ref: '#/components/schemas/ID'
    Access:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        photo:
          $ref: '#/components/schemas/UserPhoto'
    PropertyPhoto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        filesize:
          type: integer
          format: int64
        width:
          type: integer
          format: int64
        height:
          type: integer
          format: int64
        caption:
          type: string
        type:
          type: string
          enum:
          - Photograph
          - Floorplan
        url:
          type: string
        filename:
          type: string
        userFilename:
          type: string
        thumbnails:
          $ref: '#/components/schemas/PropertyPhotoThumbnails'
        published:
          type: boolean
    PropertyType:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        country:
          $ref: '#/components/schemas/Country'
        propertyClass:
          $ref: '#/components/schemas/PropertyClass'
    SuccessOrError:
      type: object
      properties:
        success:
          type: boolean
        msg:
          type: string
        code:
          type: string
    UpdateContactNote:
      type: object
      properties:
        body:
          type: string
        readOnly:
          type: boolean
        type:
          $ref: '#/components/schemas/ID'
        reminder:
          $ref: '#/components/schemas/AddContactNoteReminder'
    ContactNote:
      type: object
      properties:
        id:
          type: integer
          format: int64
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        body:
          type: string
        readOnly:
          type: boolean
        insertedBy:
          $ref: '#/components/schemas/User'
        type:
          $ref: '#/components/schemas/ContactNoteType'
        reminder:
          $ref: '#/components/schemas/ContactNoteReminder'
    AddUpdateContactRequirement:
      type: object
      properties:
        active:
          type: boolean
        propertyClass:
          $ref: '#/components/schemas/ID'
        minimumPrice:
          type: number
          format: float
        maximumPrice:
          type: number
          format: float
        minimumBed:
          type: integer
          format: int64
        minimumBath:
          type: integer
          format: int64
        minimumCar:
          type: integer
          format: int64
        minimumPricePerSQM:
          type: number
          format: float
        maximumPricePerSQM:
          type: number
          format: float
        landArea:
          $ref: '#/components/schemas/AreaRange'
        buildingArea:
          $ref: '#/components/schemas/AreaRange'
        propertyTypes:
          type: array
          items:
            $ref: '#/components/schemas/ID'
        suburbs:
          type: array
          items:
            $ref: '#/components/schemas/ID'
        type:
          type: string
          enum:
          - sale
          - lease
          - saleOrLease
    ContactNoteReminder:
      type: object
      properties:
        date:
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/User'
    ContactExtended:
      allOf:
      - $ref: '#/components/schemas/Contact'
      - type: object
        properties:
          accessBy:
            type: array
            items:
              $ref: '#/components/schemas/Access'
          sourceOfEnquiry:
            $ref: '#/components/schemas/EnquirySource'
    UserPhoto:
      type: object
      properties:
        original:
          type: string
        thumb_360:
          type: string
    State:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        abbreviation:
          type: string
    ContactContext:
      type: object
      properties:
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        displayName:
          type: string
        partnerDisplayName:
          type: string
        companyInfo:
          type: string
        emails:
          type: array
          items:
            type: string
            format: email
        linkedProperties:
          type: array
          items:
            $ref: '#/components/schemas/LinkedProperty'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        firstName:
          type: string
        lastName:
          type: string
        username:
          type: string
        email:
          type: string
          format: email
        adminAccess:
          type: boolean
        position:
          type: string
        role:
          type: string
          enum:
          - commercialSalesAndLeasing
          - residentialSales
          - propertyManagement
        photo:
          $ref: '#/components/schemas/UserPhoto'
        lastLogin:
          type: string
          format: date-time
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        profile:
          type: string
        permissions:
          type: object
          properties:
            settings:
              type: boolean
            canLogin:
              type: boolean
            deleteContacts:
              type: boolean
            globalActionListsReadWrite:
              type: boolean
            globalContactsReadWrite:
              type: boolean
            globalNotesRead:
              type: boolean
            globalNotesReadWrite:
              type: boolean
            globalPropertiesRead:
              type: boolean
            globalPropertiesReadWrite:
              type: boolean
            globalTasksReadWrite:
              type: boolean
            sendSMS:
              type: boolean
    PhoneNumber_2:
      type: object
      properties:
        number:
          type: string
        typeCode:
          type: string
          enum:
          - H
          - W
          - M
          - F
          - D
        type:
          type: string
          enum:
          - Home
          - Work
          - Mobile
          - Facsimile
          - Direct
        comment:
          type: string
    LinkedProperty_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        address:
          $ref: '#/components/schemas/Address'
        displayAddress:
          type: string
        saleLifeId:
          type: integer
          format: int64
        leaseLifeId:
          type: integer
          format: int64
        relationship:
          type: string
          enum:
          - pastOwner
          - owner
          - landlord
          - tenant
          - purchaser
        status:
          type: string
          enum:
          - prospect
          - appraisal
          - listing
          - conditional
          - unconditional
          - settled
          - management
          - withdrawn
          - withdrawnAppraisal
        class:
          $ref: '#/components/schemas/PropertyClass_2'
        photo:
          $ref: '#/components/schemas/PropertyPhoto'
    AddUpdateMarketingUser:
      type: object
      properties:
        id:
          type: integer
          format: int64
        user:
          $ref: '#/components/schemas/ID'
    ContactNoteType_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        colour:
          type: string
        defaultReadOnly:
          type: boolean
        pinned:
          type: boolean
        purpose:
          $ref: '#/components/schemas/ContactNoteTypePurpose'
    Contact_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        greeting:
          type: string
        displayName:
          type: string
        partnerTitle:
          type: string
        partnerFirstName:
          type: string
        partnerLastName:
          type: string
        company:
          type: string
        position:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        postalAddress:
          $ref: '#/components/schemas/Address'
        onDoNotCallList:
          type: boolean
        archived:
          type: boolean
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        touched:
          type: string
          format: date-time
        remoteId:
          type: string
        unsubscribe:
          $ref: '#/components/schemas/Unsubscribe'
        entityType:
          $ref: '#/components/schemas/EntityType'
        emails:
          type: array
          items:
            type: string
            format: email
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber_2'
        legalDescription:
          type: string
        marketingUsers:
          type: array
          items:
            $ref: '#/components/schemas/MarketingUser'
    AddContact_2:
      allOf:
      - $ref: '#/components/schemas/UpdateContact_2'
      - type: object
        properties:
          inserted:
            type: string
            format: date-time
          entityType:
            $ref: '#/components/schemas/ID'
    PropertyFeedback:
      type: object
      properties:
        id:
          type: integer
          format: int64
        property:
          type: object
          properties:
            id:
              type: number
              format: int64
            displayAddress:
              type: string
            saleLifeId:
              type: number
              format: int64
            leaseLifeId:
              type: number
              format: int64
            class:
              $ref: '#/components/schemas/PropertyClass_2'
        feedbackDate:
          type: string
          format: date-time
        priceOpinion:
          type: number
          format: float
        saleLifeId:
          type: number
          format: int64
        leaseLifeId:
          type: number
          format: int64
        contractRequested:
          type: boolean
        contractSent:
          type: string
          format: date-time
    UpdateContact_2:
      type: object
      properties:
        title:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        greeting:
          type: string
        partnerTitle:
          type: string
        partnerFirstName:
          type: string
        partnerLastName:
          type: string
        company:
          type: string
        position:
          type: string
        address:
          $ref: '#/components/schemas/UpdateAddress'
        postalAddress:
          $ref: '#/components/schemas/UpdateAddress'
        onDoNotCallList:
          type: boolean
        archived:
          type: boolean
        unsubscribe:
          $ref: '#/components/schemas/Unsubscribe'
        emails:
          type: array
          items:
            type: string
            format: email
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber_2'
        legalDescription:
          type: string
        accessBy:
          type: array
          items:
            $ref: '#/components/schemas/ID'
        sourceOfEnquiry:
          $ref: '#/components/schemas/ID'
        marketingUsers:
          type: array
          items:
            $ref: '#/components/schemas/AddUpdateMarketingUser'
    ContactRequirement_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        active:
          type: boolean
        propertyClass:
          $ref: '#/components/schemas/PropertyClass_2'
        minimumPrice:
          type: number
          format: float
        maximumPrice:
          type: number
          format: float
        minimumBed:
          type: integer
          format: int64
        minimumBath:
          type: integer
          format: int64
        minimumCar:
          type: integer
          format: int64
        minimumPricePerSQM:
          type: number
          format: float
        maximumPricePerSQM:
          type: number
          format: float
        landArea:
          $ref: '#/components/schemas/AreaRange'
        buildingArea:
          $ref: '#/components/schemas/AreaRange'
        propertyTypes:
          type: array
          items:
            $ref: '#/components/schemas/PropertyType_2'
        propertyTags:
          type: array
          items:
            type: string
        suburbs:
          type: array
          items:
            $ref: '#/components/schemas/Suburb'
        type:
          type: string
          enum:
          - sale
          - lease
          - saleOrLease
        tenantedInvestment:
          type: boolean
    AddContactNote_2:
      type: object
      properties:
        body:
          type: string
        readOnly:
          type: boolean
        type:
          $ref: '#/components/schemas/ID'
        reminder:
          $ref: '#/components/schemas/AddContactNoteReminder'
        inserted:
          type: string
          format: date-time
        accessBy:
          type: array
          items:
            $ref: '#/components/schemas/ID'
    ContactNoteExtended:
      allOf:
      - $ref: '#/components/schemas/ContactNote_2'
      - type: object
        properties:
          accessBy:
            type: array
            items:
              $ref: '#/components/schemas/Access'
    Email:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/ID'
        subject:
          type: string
        bodyText:
          type: string
        bodyHTML:
          type: string
        to:
          type: string
    EntityType:
      type: object
      properties:
        id:
          type: number
          format: int64
        name:
          type: string
    PropertyClass_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        internalName:
          type: string
    SMS_2:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/ID'
        message:
          type: string
        number:
          type: string
    BulkContactNote_2:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ID'
        readOnly:
          type: boolean
        inserted:
          type: string
          format: date-time
        accessBy:
          type: array
          items:
            $ref: '#/components/schemas/Access'
        notes:
          type: array
          items:
            type: object
            properties:
              contact:
                $ref: '#/components/schemas/ID'
              body:
                type: string
    FileToBeUploaded:
      type: object
      properties:
        id:
          type: integer
          format: int64
        upload_url:
          type: string
    ContactFile:
      type: object
      properties:
        id:
          type: integer
          format: int64
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        description:
          type: string
        filename:
          type: string
        filesize:
          type: integer
          format: int64
        insertedBy:
          $ref: '#/components/schemas/User_2'
        url:
          type: string
        contentType:
          type: string
    PropertyType_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        propertyClass:
          $ref: '#/components/schemas/PropertyClass_2'
    UpdateContactNote_2:
      type: object
      properties:
        body:
          type: string
        readOnly:
          type: boolean
        type:
          $ref: '#/components/schemas/ID'
        reminder:
          $ref: '#/components/schemas/AddContactNoteReminder'
        accessBy:
          type: array
          items:
            $ref: '#/components/schemas/ID'
    ContactNote_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        body:
          type: string
        readOnly:
          type: boolean
        contact:
          $ref: '#/components/schemas/ID'
        insertedBy:
          $ref: '#/components/schemas/User_2'
        type:
          $ref: '#/components/schemas/ContactNoteType_2'
        reminder:
          $ref: '#/components/schemas/ContactNoteReminder'
        propertyFeedback:
          $ref: '#/components/schemas/PropertyFeedback'
    MarketingUser:
      type: object
      properties:
        id:
          type: integer
          format: int64
        user:
          $ref: '#/components/schemas/Access'
    AddUpdateContactRequirement_2:
      type: object
      properties:
        active:
          type: boolean
        propertyClass:
          $ref: '#/components/schemas/ID'
        minimumPrice:
          type: number
          format: float
        maximumPrice:
          type: number
          format: float
        minimumBed:
          type: integer
          format: int64
        minimumBath:
          type: integer
          format: int64
        minimumCar:
          type: integer
          format: int64
        minimumPricePerSQM:
          type: number
          format: float
        maximumPricePerSQM:
          type: number
          format: float
        landArea:
          $ref: '#/components/schemas/AreaRange'
        buildingArea:
          $ref: '#/components/schemas/AreaRange'
        propertyTypes:
          type: array
          items:
            $ref: '#/components/schemas/ID'
        propertyTags:
          type: array
          items:
            type: string
        suburbs:
          type: array
          items:
            $ref: '#/components/schemas/Suburb'
        type:
          type: string
          enum:
          - sale
          - lease
          - saleOrLease
        tenantedInvestment:
          type: boolean
    ContactFileUpload:
      type: object
      properties:
        filename:
          type: string
        filesize:
          type: integer
          format: int64
        contentType:
          type: string
    User_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        firstName:
          type: string
        lastName:
          type: string
        username:
          type: string
        email:
          type: string
          format: email
        adminAccess:
          type: boolean
        position:
          type: string
        role:
          type: string
          enum:
          - commercialSalesAndLeasing
          - residentialSales
          - propertyManagement
        photo:
[...]
