openapi: 3.2.0
info:
  title: Vaultre Bulk API
  contact:
    name: VaultRE
    url: https://www.vaultre.com.au
    email: api@vaultre.com.au
  version: '1.0'
  description: 'Operations tagged bulk across 2 of this provider''s published API definitions: vaultre-api-v1-2-openapi.yml, vaultre-api-v1-3-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
tags:
- name: Bulk
  description: Bulk operations
paths:
  /bulk/contactNotes:
    get:
      tags:
      - Bulk
      summary: Retrieve a list of contact notes
      operationId: getBulkContactNotes
      parameters:
      - name: types
        in: query
        description: Filter notes with type IDs
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/pagesize'
      - $ref: '#/components/parameters/modifiedSince'
      - $ref: '#/components/parameters/modifiedBefore'
      responses:
        200:
          description: Contact notes retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /bulk/inspections:
    get:
      tags:
      - Bulk
      summary: Retrieve a list of property inspections
      operationId: getBulkInspections
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Inspections retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /bulk/feedback:
    get:
      tags:
      - Bulk
      summary: Retrieve a list of feedback items
      operationId: getBulkFeedback
      parameters:
      - name: feedbackAfter
        in: query
        description: Filter feedback occurring on or after this date
        schema:
          type: string
          format: date
      - name: feedbackBefore
        in: query
        description: Filter feedback occurring before this date
        schema:
          type: string
          format: date
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/pagesize'
      - $ref: '#/components/parameters/modifiedSince'
      - $ref: '#/components/parameters/modifiedBefore'
      responses:
        200:
          description: Feedback retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /bulk/contactNotes/requests:
    get:
      tags:
      - Bulk
      summary: Retrieve a list of previously requested exports of contact notes
      description: Retrieve a list of previously requested exports of contact notes.
      operationId: retrieveBulkContactNotesExports
      parameters:
      - $ref: '#/components/parameters/insertedSince'
      - $ref: '#/components/parameters/insertedBefore'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: status
        in: query
        description: Filter exports by status
        schema:
          type: string
          enum:
          - pending
          - processing
          - ready
      responses:
        200:
          description: Exports retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        requestid:
                          type: string
                        status:
                          type: string
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /bulk/contactNotes/request:
    get:
      tags:
      - Bulk
      summary: Retrieve a previously requested export of contact notes
      description: Retrieve a previously requested export of contact notes. The response is a download link to a zip file containing the export.
      operationId: retrieveBulkContactNotesExport
      parameters:
      - name: requestid
        in: query
        description: Retrieve the export with this requestId
        schema:
          type: string
      responses:
        200:
          description: Export link retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  status:
                    type: string
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - Bulk
      summary: Request an export of contact notes
      description: Request an export of contact notes. The export is processed offline; you can then poll the endpoint with the requestid to retrieve the export.
      operationId: requestBulkContactNotes
      requestBody:
        description: Filters to be applied to query
        content:
          application/json:
            schema:
              type: object
              properties:
                modifiedSince:
                  type: string
                  format: date-time
                modifiedBefore:
                  type: string
                  format: date-time
                insertedSince:
                  type: string
                  format: date-time
                insertedBefore:
                  type: string
                  format: date-time
                types:
                  type: array
                  items:
                    type: integer
                    format: int64
        required: true
      responses:
        202:
          description: Export request received
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestid:
                    type: string
                  message:
                    type: string
        400:
          description: Bad request - there may be an existing export pending for this account. Check the response message for more information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestid:
                    type: string
                  message:
                    type: string
      security:
      - Api-Key: []
        Bearer: []
    delete:
      tags:
      - Bulk
      summary: Delete a previously requested export of contact notes
      description: Delete a previously requested export of contact notes, which is still in "ready" or "processing" status.
      operationId: deleteBulkContactNotesExport
      parameters:
      - name: requestid
        in: query
        description: Cancel the export with this requestId
        schema:
          type: string
      responses:
        204:
          description: Export cancelled
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
components:
  parameters:
    modifiedBefore:
      name: modifiedBefore
      in: query
      description: Filter results modified before this datetime
      schema:
        type: string
        format: date-time
    pagesize:
      name: pagesize
      in: query
      description: Number of records to be returned in each page.
      schema:
        type: integer
        format: int64
        default: 50
    after:
      name: after
      in: query
      description: Filter records after this ID
      schema:
        type: integer
        format: int64
    modifiedSince:
      name: modifiedSince
      in: query
      description: Filter results modified since this datetime
      schema:
        type: string
        format: date-time
    insertedSince:
      name: insertedSince
      in: query
      description: Filter results inserted since this datetime
      schema:
        type: string
        format: date-time
    insertedBefore:
      name: insertedBefore
      in: query
      description: Filter results inserted before this datetime
      schema:
        type: string
        format: date-time
    page:
      name: page
      in: query
      description: Page number of results
      schema:
        type: integer
        format: int64
  schemas:
    PhoneNumber:
      type: object
      properties:
        number:
          type: string
        typeCode:
          type: string
          enum:
          - H
          - W
          - M
          - F
          - D
        type:
          type: string
          enum:
          - Home
          - Work
          - Mobile
          - Facsimile
          - Direct
        comment:
          type: string
    ContactNoteTypePurpose:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    Suburb:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        postcode:
          type: string
        state:
          $ref: '#/components/schemas/State'
        nzDistrict:
          $ref: '#/components/schemas/District'
        isPoBox:
          type: boolean
    Country:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        isocode:
          type: string
        gstRate:
          type: number
          format: float
    ContactNoteType:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        colour:
          type: string
        defaultReadOnly:
          type: boolean
        pinned:
          type: boolean
        purpose:
          $ref: '#/components/schemas/ContactNoteTypePurpose'
    Contact:
      type: object
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        greeting:
          type: string
        displayName:
          type: string
        partnerTitle:
          type: string
        partnerFirstName:
          type: string
        partnerLastName:
          type: string
        company:
          type: string
        position:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        postalAddress:
          $ref: '#/components/schemas/Address'
        onDoNotCallList:
          type: boolean
        archived:
          type: boolean
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        touched:
          type: string
          format: date-time
        remoteId:
          type: string
        unsubscribe:
          $ref: '#/components/schemas/Unsubscribe'
        entityType:
          $ref: '#/components/schemas/EntityType'
        emails:
          type: array
          items:
            type: string
            format: email
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        legalDescription:
          type: string
        abn:
          type: string
          description: Australian Business Number (ABN). For New Zealand customers, this field represents the GST registration number.
        acn:
          type: string
          description: Australian Company Number (ACN).
        marketingUsers:
          type: array
          items:
            $ref: '#/components/schemas/MarketingUser'
        smsUnsubscribeUrl:
          type: string
        customUnsubscribe:
          type: array
          items:
            $ref: '#/components/schemas/UnsubscribeType'
    District:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        region:
          $ref: '#/components/schemas/Region'
    Address:
      type: object
      properties:
        level:
          type: string
        unitNumber:
          type: string
        streetNumber:
          type: string
        street:
          type: string
        suburb:
          $ref: '#/components/schemas/Suburb'
        state:
          $ref: '#/components/schemas/State'
        country:
          $ref: '#/components/schemas/Country'
        royalMail:
          $ref: '#/components/schemas/RoyalMail'
        customAddress:
          $ref: '#/components/schemas/CustomAddress'
    Unsubscribe:
      type: object
      properties:
        email:
          type: boolean
        sms:
          type: boolean
        letters:
          type: boolean
    PropertyFeedback:
      type: object
      properties:
        id:
          type: integer
          format: int64
        property:
          type: object
          properties:
            id:
              type: number
              format: int64
            displayAddress:
              type: string
            saleLifeId:
              type: number
              format: int64
            leaseLifeId:
              type: number
              format: int64
            class:
              $ref: '#/components/schemas/PropertyClass'
        feedbackDate:
          type: string
          format: date-time
        priceOpinion:
          type: number
          format: float
        saleLifeId:
          type: number
          format: int64
        leaseLifeId:
          type: number
          format: int64
        contractRequested:
          type: boolean
        contractSent:
          type: string
          format: date-time
    ID:
      type: object
      properties:
        id:
          type: integer
          format: int64
    Region:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    Inspection:
      type: object
      properties:
        id:
          type: integer
          format: int64
        insertedBy:
          $ref: '#/components/schemas/Access'
        inserted:
          type: string
          format: date-time
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - proposed
          - scheduled
          - confirmed
        type:
          type: string
          enum:
          - routine
          - ingoing
          - outgoing
        timeOfDay:
          type: string
          enum:
          - morning
          - afternoon
        tenancy:
          $ref: '#/components/schemas/ID'
    UnsubscribeType:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    CustomAddress:
      type: object
      properties:
        address1:
          type: string
        address2:
          type: string
        postTown:
          type: string
        postcode:
          type: string
    EntityType:
      type: object
      properties:
        id:
          type: number
          format: int64
        name:
          type: string
    ContactNoteAndContact:
      type: object
      properties:
        note:
          $ref: '#/components/schemas/ContactNote'
        contact:
          $ref: '#/components/schemas/Contact'
    PropertyClass:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        internalName:
          type: string
    RoyalMail:
      type: object
      properties:
        buildingName:
          type: string
        buildingNumber:
          type: string
        department:
          type: string
        locality:
          type: string
        locality2:
          type: string
        organisation:
          type: string
        postTown:
          type: string
        postcode:
          type: string
        subbuildingName:
          type: string
        subbuildingNumber:
          type: string
        thoroughfare:
          type: string
        thoroughfare2:
          type: string
        udprn:
          type: integer
          format: int64
    Access:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        photo:
          $ref: '#/components/schemas/UserPhoto'
        account:
          type: object
          properties:
            id:
              type: integer
              format: int64
            name:
              type: string
    ContactNote:
      type: object
      properties:
        id:
          type: integer
          format: int64
        inserted:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        body:
          type: string
        readOnly:
          type: boolean
        contact:
          $ref: '#/components/schemas/ID'
        insertedBy:
          $ref: '#/components/schemas/User'
        type:
          $ref: '#/components/schemas/ContactNoteType'
        reminder:
          $ref: '#/components/schemas/ContactNoteReminder'
        propertyFeedback:
          $ref: '#/components/schemas/PropertyFeedback'
    MarketingUser:
      type: object
      properties:
        id:
          type: integer
          format: int64
        user:
          $ref: '#/components/schemas/Access'
    ContactNoteReminder:
      type: object
      properties:
        date:
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/User'
    UserPhoto:
      type: object
      properties:
        original:
          type: string
        thumb_360:
          type: string
    Urls:
      type: object
      properties:
        previous:
          type: string
        next:
          type: string
        self:
          type: string
    State:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        abbreviation:
          type: string
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        firstName:
          type: string
        lastName:
          type: string
        username:
          type: string
        email:
          type: string
          format: email
        adminAccess:
          type: boolean
        position:
          type: string
        role:
          type: string
          enum:
          - commercialSalesAndLeasing
          - residentialSales
          - propertyManagement
        photo:
          $ref: '#/components/schemas/UserPhoto'
        lastLogin:
          type: string
          format: date-time
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        profile:
          type: string
        permissions:
          type: object
          properties:
            settings:
              type: boolean
            accessPropertyManagement:
              type: boolean
            accessSales:
              type: boolean
            canLogin:
              type: boolean
            deleteContacts:
              type: boolean
            deleteProperties:
              type: boolean
            globalActionListsReadWrite:
              type: boolean
            globalContactsReadWrite:
              type: boolean
            globalNotesRead:
              type: boolean
            globalNotesReadWrite:
              type: boolean
            globalPropertiesRead:
              type: boolean
            globalPropertiesReadWrite:
              type: boolean
            globalTasksReadWrite:
              type: boolean
            sendSMS:
              type: boolean
            accessPropertyFinancials:
              type: boolean
            accessAlarmDetails:
              type: boolean
            modifyWebsiteContent:
              type: boolean
            editMarketingContact:
              type: boolean
        websiteUrl:
          type: string
        showOnWeb:
          type: boolean
        externalReference:
          type: string
        ssoIdentifier:
          type: string
        signature:
          type: string
        account:
          type: object
          properties:
            id:
              type: integer
              format: int64
            name:
              type: string
        hideMobileFromPortal:
          type: boolean
  securitySchemes:
    Api-Key:
      type: apiKey
      name: X-Api-Key
      in: header
    Bearer:
      type: apiKey
      description: Use format 'Bearer [token]'
      name: Authorization
      in: header
x-refined-from:
- vaultre-api-v1-2-openapi.yml
- vaultre-api-v1-3-openapi.yml
