openapi: 3.2.0
info:
  title: VaultRE Reinz API
  description: Please ensure all API requests use HTTP/1.1. See https://github.com/VaultGroup/api-samples for code samples.
  contact:
    name: VaultRE
    url: https://www.vaultre.com.au
    email: api@vaultre.com.au
  version: '1.3'
servers:
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
tags:
- name: reinz
  description: Operations related to REINZ
paths:
  /reinz/sales:
    get:
      tags:
      - reinz
      summary: Retrieve a list of sales sent to REINZ
      description: Retrieve a list of sales sent to REINZ for this account.
      operationId: getReinzSales
      parameters:
      - $ref: '#/components/parameters/insertedSince'
      - $ref: '#/components/parameters/insertedBefore'
      - name: processedSince
        in: query
        description: Filter sales processed since this datetime
        schema:
          type: string
          format: date-time
      - name: processedBefore
        in: query
        description: Filter sales processed before this datetime
        schema:
          type: string
          format: date-time
      - name: success
        in: query
        description: Filter sales that have been processed successfully or not
        schema:
          type: boolean
      - name: processed
        in: query
        description: Filter sales that have been processed or unprocessed
        schema:
          type: boolean
      - name: saleLifeId
        in: query
        description: Filter sales for this sale life ID
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Sales retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReinzSale'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
components:
  parameters:
    pagesize:
      name: pagesize
      in: query
      description: Number of records to be returned in each page.
      schema:
        type: integer
        format: int64
        default: 50
    insertedSince:
      name: insertedSince
      in: query
      description: Filter results inserted since this datetime
      schema:
        type: string
        format: date-time
    page:
      name: page
      in: query
      description: Page number of results
      schema:
        type: integer
        format: int64
    insertedBefore:
      name: insertedBefore
      in: query
      description: Filter results inserted before this datetime
      schema:
        type: string
        format: date-time
  schemas:
    ReinzSale:
      type: object
      properties:
        saleLifeId:
          type: integer
          format: int64
        inserted:
          type: string
          format: date-time
        processed:
          type: string
          format: date-time
        success:
          type: boolean
        saleType:
          type: string
        suppressSale:
          type: boolean
    Urls:
      type: object
      properties:
        previous:
          type: string
        next:
          type: string
        self:
          type: string
  securitySchemes:
    Api-Key:
      type: apiKey
      name: X-Api-Key
      in: header
    Bearer:
      type: http
      scheme: bearer
