openapi: 3.2.0
info:
  title: Vaultre User API
  contact:
    name: VaultRE
    url: https://www.vaultre.com.au
    email: api@vaultre.com.au
  version: '1.0'
  description: 'Operations tagged user across 3 of this provider''s published API definitions: vaultre-api-v1-1-openapi.yml, vaultre-api-v1-2-openapi.yml, vaultre-api-v1-3-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
tags:
- name: User
  description: Operations related to users
paths:
  /user:
    get:
      tags:
      - User
      summary: Retrieve information about the authenticated user
      operationId: getUser
      responses:
        200:
          description: User retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - User
      summary: Update the authenticated user
      operationId: updateUser
      requestBody:
        description: User object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUser'
        required: true
      responses:
        200:
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /user/subscriptions:
    get:
      tags:
      - User
      summary: Retrieve active subscriptions for the authenticated user
      operationId: getUserSubscriptions
      responses:
        200:
          description: User subscriptions retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSubscriptions'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /user/teams:
    get:
      tags:
      - User
      summary: Retrieve a list of teams to which the authenticated user belongs
      operationId: getUserTeams
      parameters:
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: User teams retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /user/summary/grossCommission:
    get:
      tags:
      - User
      summary: Retrieve a summary of recent gross commission for the authenticated user
      description: Retrieve a month by month summary of recent gross commission (previous six months) for the authenticated user
      operationId: getUserSummaryGrossCommission
      responses:
        200:
          description: Summary retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /user/upcomingOfferConditions:
    get:
      tags:
      - User
      summary: Retrieve a list of upcoming offer conditions for the authenticated user
      operationId: getUserUpcomingOfferConditions
      parameters:
      - name: days
        in: query
        description: Number of days to look ahead and back (default 8)
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Conditions retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /user/upcomingOpenHomes:
    get:
      tags:
      - User
      summary: Retrieve a list of upcoming open homes for the authenticated user
      operationId: getUserUpcomingOpenHomes
      parameters:
      - name: days
        in: query
        description: Number of days to look ahead and back (default 7)
        schema:
          type: integer
          format: int64
      - name: includeRecent
        in: query
        description: Include recently completed open homes
        schema:
          type: boolean
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Open Homes retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /user/credentials:
    put:
      tags:
      - User
      summary: Update the credentials for the authenticated user
      operationId: updateUserCredentials
      requestBody:
        description: Credential object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Credential'
        required: true
      responses:
        200:
          description: User credentials updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /user/signature:
    get:
      tags:
      - User
      summary: Retrieve the authenticated user's signature
      operationId: getUserSignature
      responses:
        200:
          description: Signature retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signature'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - User
      summary: Update the signature for the authenticated user
      operationId: updateUserSignature
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              properties:
                file:
                  type: string
                  description: PNG image of the signature
                  format: binary
        required: true
      responses:
        200:
          description: User signature updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signature'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /user/photo:
    get:
      tags:
      - User
      summary: Retrieve the authenticated user's photograph
      operationId: getUserPhoto
      responses:
        200:
          description: Photo retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPhoto'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - User
      summary: Update the photo for the authenticated user
      operationId: updateUserPhoto
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              properties:
                file:
                  type: string
                  description: The photo file to be uploaded
                  format: binary
        required: true
      responses:
        200:
          description: User photo updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPhoto'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /account:
    get:
      tags:
      - User
      summary: Retrieve information about the authenticated account
      operationId: getAccount
      responses:
        200:
          description: User retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /account/users:
    get:
      tags:
      - User
      summary: Retrieve a list of users in the authenticated account
      operationId: getAccountUsers
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: team
        in: query
        description: Filter users belonging to the given team ID
        schema:
          type: integer
          format: int64
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - firstname
          - lastname
          - inserted
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Account users retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - User
      summary: Add a new user in the authenticated account
      description: Add a new user
      operationId: addUser
      requestBody:
        description: User object
        content:
          application/json:
            schema:
              type: object
              required:
              - firstName
              - lastName
              - email
              - staffTypeId
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                email:
                  type: string
                  format: email
                username:
                  type: string
                password:
                  type: string
                staffTypeId:
                  type: integer
                  format: int64
                  enum:
                  - 1
                  - 2
                  - 3
                  - 4
                  description: '1: Salesperson, 2: Administration, 3: Property Manager, 4: Principal'
                position:
                  type: string
                phoneNumbers:
                  type: array
                  items:
                    $ref: '#/components/schemas/PhoneNumber_3'
                profile:
                  type: string
                externalReference:
                  type: string
                ssoIdentifier:
                  type: string
                adminAccess:
                  type: boolean
                permissions:
                  type: object
                  properties:
                    canLogin:
                      type: boolean
      responses:
        201:
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_3'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /account/users/{id}:
    get:
      tags:
      - User
      summary: Retrieve a single user from the account
      operationId: getAccountUser
      parameters:
      - name: id
        in: path
        description: ID of the user
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: User retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - User
      summary: Update a user in the authenticated account
      description: Update a user
      operationId: updateUser
      parameters:
      - name: id
        in: path
        description: ID of user
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: User object
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                email:
                  type: string
                  format: email
                position:
                  type: string
                username:
                  type: string
                password:
                  type: string
                phoneNumbers:
                  type: array
                  items:
                    $ref: '#/components/schemas/PhoneNumber_3'
                profile:
                  type: string
                externalReference:
                  type: string
                ssoIdentifier:
                  type: string
                adminAccess:
                  type: boolean
                permissions:
                  type: object
                  properties:
                    canLogin:
                      type: boolean
      responses:
        200:
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_3'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    delete:
      tags:
      - User
      summary: Delete a user in the authenticated account
      operationId: deleteUser
      parameters:
      - name: id
        in: path
        description: ID of user
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: User deleted
          content: {}
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /account/users/{id}/teams:
    get:
      tags:
      - User
      summary: Retrieve a list of teams to which this user belongs
      operationId: getAccountUserTeams
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: User teams retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /account/teams:
    get:
      tags:
      - User
      summary: Retrieve a list of teams in the authenticated account
      operationId: getAccountTeams
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Account teams retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /account/teams/{id}:
    get:
      tags:
      - User
      summary: Retrieve a single team from the account
      operationId: getAccountTeam
      parameters:
      - name: id
        in: path
        description: ID of the team
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Team retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /account/enquirySources:
    get:
      tags:
      - User
      summary: Retrieve a list of enquiry sources in the authenticated account
      operationId: getAccountEnquirySources
      parameters:
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Enquiry Sources retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - User
      summary: Add a new Enquiry Source type
      operationId: addEnquirySource
      requestBody:
        description: Enquiry Source object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUpdateEnquirySource'
        required: true
      responses:
        201:
          description: Enquiry Source created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnquirySource'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /account/enquirySources/{id}:
    get:
      tags:
      - User
      summary: Retrieve a single enquiry source
      operationId: getAccountEnquirySource
      parameters:
      - name: id
        in: path
        description: ID of the enquiry source
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Enquiry Source retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnquirySource'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - User
      summary: Update an Enquiry Source type
      operationId: updateEnquirySource
      parameters:
      - name: id
        in: path
        description: ID of the enquiry source
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Enquiry Source object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUpdateEnquirySource'
        required: true
      responses:
        200:
          description: Enquiry Source updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnquirySource'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /account/pricing:
    get:
      tags:
      - User
      summary: Retrieve pricing information for the authenticated account
      operationId: getAccountPricing
      responses:
        200:
          description: Account pricing retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPricing'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /logout:
    delete:
      tags:
      - User
      summary: Log out from the current user session
      operationId: logout
      responses:
        204:
          description: Logged out successfully
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /verifyPassword:
    post:
      tags:
      - User
      summary: Verify the authenticated user's password
      operationId: verifyUserPassword
      requestBody:
        description: User's password
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: API Call completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /user/tenancyInspections:
    get:
      tags:
      - User
      summary: Retrieve a list of upcoming and recent inspections for the authenticated user
      operationId: getUserTenancyInspections
      parameters:
      - name: days
        in: query
        description: Number of days to look ahead and back (default 7). Only used if start and end are undefined.
        schema:
          type: integer
          format: int64
      - name: includeRecent
        in: query
        description: Include recently completed inspections. Used in conjuction with days argument.
        schema:
          type: boolean
      - name: start
        in: query
        description: Filter inspections starting on or after this datetime. Takes precendent over days argument.
        schema:
          type: string
          format: date-time
      - name: end
        in: query
        description: Filter inspections starting before this datetime. Takes precendent over days argument.
        schema:
          type: string
          format: date-time
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Inspections retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /account/upcomingOpenHomes:
    get:
      tags:
      - User
      summary: Retrieve a list of upcoming open homes for the authenticated account
      operationId: getAccountUpcomingOpenHomes
      parameters:
      - name: days
        in: query
        description: Number of days to look ahead and back (default 7)
        schema:
          type: integer
          format: int64
      - name: includeRecent
        in: query
        description: Include recently completed open homes
        schema:
          type: boolean
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Open Homes retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /account/folders/filingCabinet:
    get:
      tags:
      - User
      summary: Retrieve a list of folders available in the Filing Cabinet for this account
      operationId: getAccountFilingCabinetFolders
      parameters:
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Folders retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /account/branches:
    get:
      tags:
      - User
      summary: Retrieve a list of branches configured for this account
      operationId: getAccountBranches
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Branches retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /account/propertyPortals:
    get:
      tags:
      - User
      summary: Retrieve a list of property portals for this account
      description: Retrieve a list of property portals to which this account can publish properties
      operationId: getAccountPortals
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Portals retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /account/trustAccounts:
    get:
      tags:
      - User
      summary: Retrieve a list of trust accounts for this account
      operationId: getTrustAccounts
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Trust accounts retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /sso:
    get:
      tags:
      - User
      summary: Generate a single-sign-on URL
      description: Generate a single-sign-on URL for the VaultRE web application
      operationId: getSSOUrl
      responses:
        200:
          description: URL retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
  /account/contactDateTypes:
    get:
      tags:
      - User
      summary: Retrieve a list of available contact date types for this account
      operationId: getContactDateTypes
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Date types retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactDateType'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /user/oAuthLoginUrl:
    get:
      tags:
      - User
      summary: Get the oAuth sign-in target URL for this username
      description: For the given username, find the correct oAuth sign-in URL.
      operationId: getOAuthLoginUrl
      parameters:
      - name: username
        in: query
        description: The user's username
        required: true
        schema:
          type: string
      responses:
        200:
          description: URL retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
      security:
      - Api-Key: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /account/oAuthLoginUrl:
    get:
      tags:
      - User
      summary: Get the oAuth sign-in target URL for this username (office level oAuth exchange)
      description: For the given username, find the correct oAuth sign-in URL.
      operationId: getOAuthLoginUrlAccount
      parameters:
      - name: username
        in: query
        description: The user's username
        required: true
        schema:
          type: string
      responses:
        200:
          description: URL retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
      security:
      - Api-Key: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
  /account/customRegions:
    get:
      tags:
      - User
      summary: Retrieve a list of custom regions for this account
      operationId: getCustomRegions
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Sort items by field
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Custom regions retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomRegion'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
components:
  schemas:
    PhoneNumber:
      type: object
      properties:
        number:
          type: string
        typeCode:
          type: string
          enum:
          - H
          - W
          - M
          - F
          - D
        type:
          type: string
          enum:
          - Home
          - Work
          - Mobile
          - Facsimile
          - Direct
    Suburb:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        postcode:
          type: string
        state:
          $ref: '#/components/schemas/State'
    UserSubscriptions:
      type: object
      properties:
        corelogic:
          type: boolean
    AccountFranchise:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    Country:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        isocode:
          type: string
        gstRate:
          type: number
          format: float
    AddUpdateEnquirySource:
      type: object
      properties:
        name:
          type: string
    Account:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        businessName:
          type: string
        timezone:
          type: string
        openDatabase:
          type: boolean
        email:
          type: string
          format: email
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        address:
          $ref: '#/components/schemas/Address'
        franchise:
          $ref: '#/components/schemas/AccountFranchise'
        speciality:
          type: string
          enum:
          - commercial
    AccountPricingUnit:
      type: object
      properties:
        currency:
          type: string
        unitPrice:
          type: number
          format: float
    Address:
      type: object
      properties:
        level:
          type: string
        unitNumber:
          type: string
        streetNumber:
          type: string
        street:
          type: string
        suburb:
          $ref: '#/components/schemas/Suburb'
        state:
          $ref: '#/components/schemas/State'
        country:
          $ref: '#/components/schemas/Country'
    UpdateUser:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        position:
          type: string
        profile:
          type: string
    Credential:
      type: object
      properties:
        password:
          type: string
        username:
          type: string
    EnquirySource:
      type: object
      properties:
        id:
          type: number
          format: int64
        name:
          type: string
    Team:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    Signature:
      type: object
      properties:
        url:
          type: string
    SuccessOrError:
      type: object
      properties:
        success:
          type: boolean
        msg:
          type: string
        code:
          type: string
    UserPhoto:
      type: object
      properties:
        original:
          type: string
        thumb_360:
          type: string
    State:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        abbreviation:
          type: string
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        firstName:
          type: string
        lastName:
          type: string
        username:
          type: string
        email:
          type: string
          format: email
        adminAccess:
          type: boolean
        position:
          type: string
        role:
          type: string
          enum:
          - commercialSalesAndLeasing
          - residentialSales
          - propertyManagement
        photo:
          $ref: '#/components/schemas/UserPhoto'
        lastLogin:
          type: string
          format: date-time
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        profile:
          type: string
        permissions:
          type: object
          properties:
            settings:
              type: boolean
            canLogin:
              type: boolean
            deleteContacts:
              type: boolean
            globalActionListsReadWrite:
              type: boolean
            globalContactsReadWrite:
              type: boolean
            globalNotesRead:
              type: boolean
            globalNotesReadWrite:
              type: boolean
            globalPropertiesRead:
              type: boolean
            globalPropertiesReadWrite:
              type: boolean
            globalTasksReadWrite:
              type: boolean
            sendSMS:
              type: boolean
    AccountPricing:
      type: object
      properties:
        sms:
          $ref: '#/components/schemas/AccountPricingUnit'
    PhoneNumber_2:
      type: object
      properties:
        number:
          type: string
        typeCode:
          type: string
          enum:
          - H
          - W
          - M
          - F
          - D
        type:
          type: string
          enum:
          - Home
          - Work
          - Mobile
          - Facsimile
          - Direct
        comment:
          type: string
    UserSubscriptions_2:
      type: object
      properties:
        corelogic:
          type: boolean
        pricefinder:
          type: boolean
    Account_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        businessName:
          type: string
        eMarketingName:
          type: string
        timezone:
          type: string
        openDatabase:
          type: boolean
        email:
          type: string
          format: email
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber_2'
        address:
          $ref: '#/components/schemas/Address'
        franchise:
          $ref: '#/components/schemas/AccountFranchise'
        speciality:
          type: string
          enum:
          - commercial
        marketingUserOrders:
          type: array
          items:
            $ref: '#/components/schemas/MarketingUserOrder'
        websiteUrl:
          type: string
        clientLoginUrl:
          type: string
        openingHours:
          type: object
          properties:
            sunday:
              type: string
            monday:
              type: string
            tuesday:
              type: string
            wednesday:
              type: string
            thursday:
              type: string
            friday:
              type: string
            saturday:
              type: string
    UpdateUser_2:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber_2'
        position:
          type: string
        profile:
          type: string
    User_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        firstName:
          type: string
        lastName:
          type: string
        username:
          type: string
        email:
          type: string
          format: email
        adminAccess:
          type: boolean
        position:
          type: string
        role:
          type: string
          enum:
          - commercialSalesAndLeasing
          - residentialSales
          - propertyManagement
        photo:
          $ref: '#/components/schemas/UserPhoto'
        lastLogin:
          type: string
          format: date-time
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber_2'
        profile:
          type: string
        permissions:
          type: object
          properties:
            settings:
              type: boolean
            accessPropertyManagement:
              type: boolean
            accessSales:
              type: boolean
            canLogin:
              type: boolean
            deleteContacts:
              type: boolean
            globalActionListsReadWrite:
              type: boolean
            globalContactsReadWrite:
              type: boolean
            globalNotesRead:
              type: boolean
            globalNotesReadWrite:
              type: boolean
            globalPropertiesRead:
              type: boolean
            globalPropertiesReadWrite:
              type: boolean
            globalTasksReadWrite:
              type: boolean
            sendSMS:
              type: boolean
        websiteUrl:
          type: string
    MarketingUserOrder:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    PhoneNumber_3:
      type: object
      properties:
        number:
          type: string
        typeCode:
          type: string
          enum:
          - H
          - W
          - M
          - F
          - D
        type:
          type: string
          enum:
          - Home
          - Work
          - Mobile
          - Facsimile
          - Direct
        comment:
          type: string
    Suburb_2:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        postcode:
          type: string
        state:
          $ref: '#/components/schemas/State'
        nzDistrict:
          $ref: '#/components/schemas/District'
        isPoBox:
          type: boolean
    PropertyFileFolder:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        display:
          type: string
          enum:
          - sale
          - lease
          - saleAndLease
    OfferCondition:
      type: object
      properties:
        id:
          type: number
          format: int64
        name:
          type: string
    CustomRegion:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    PortalAccess:
      type: object
      properties:
        id:
          type: integer
          format: int64
        code:
          type: string
        description:
          type: string
        portal:
          $ref: '#/components/schemas/Portal'
    UserAndTeams:
      allOf:
      - $ref: '#/components/schemas/User_3'
      - type: object
        properties:
          teams:
            type: array
            items:
              $ref: '#/components/schemas/Team'
    UserSubscriptions_3:
      type: object
      properties:
        corelogic:
          type: boolean
        pricefinder:
          type: boolean
    AccountBranch:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        shortName:
          type: string
        websiteUrl:
          type: string
        address:
          $ref: '#/components/schemas/Address_2'
    Account_3:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        businessName:
          type: string
        eMarketingName:
          type: string
        timezone:
          type: string
        openDatabase:
          type: boolean
        email:
          type: string
          format: email
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber_3'
        address:
          $ref: '#/components/schemas/Address_2'
        postalAddress:
          $ref: '#/components/schemas/Address_2'
        franchise:
          $ref: '#/components/schemas/AccountFranchise'
        speciality:
          type: string
          enum:
          - commercial
        marketingUserOrders:
          type: array
          items:
            $ref: '#/components/schemas/MarketingUserOrder'
        websiteUrl:
          type: string
        clientLoginUrl:
          type: string
        openingHours:
          type: object
          properties:
            sunday:
              type: string
            monday:
              type: string
            tuesday:
              type: string
            wednesday:
              type: string
            thursday:
              type: string
            friday:
              type: string
            saturday:
              type: string
    District:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        region:
          $ref: '#/components/schemas/Region'
    OpenHome:
      type: object
      properties:
        id:
          type: number
          format: int64
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/User_3'
        isRental:
          type: boolean
        extraAgents:
          type: array
          items:
            $ref: '#/components/schemas/Access'
    Address_2:
      type: object
      properties:
        level:
          type: string
        unitNumber:
          type: string
        streetNumber:
          type: string
        street:
          type: string
        suburb:
          $ref: '#/components/schemas/Suburb_2'
        state:
          $ref: '#/components/schemas/State'
        country:
          $ref: '#/components/schemas/Country'
        royalMail:
          $ref: '#/components/schemas/RoyalMail'
        customAddress:
          $ref: '#/components/schemas/CustomAddress'
    UpdateUser_3:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber_3'
        position:
          type: string
        profile:
          type: string
    ID:
      type: object
      properties:
        id:
          type: integer
          format: int64
    Region:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    ContactDateType:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        format:
          type: string
          enum:
          - MM-DD
          - YYYY-MM-DD
    CustomAddress:
      type: object
      properties:
        address1:
          type: string
        address2:
          type: string
        postTown:
          type: string
        postcode:
          type: string
    PropertyClass:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        internalName:
          type: string
    Portal:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    InspectionWithProperty:
      type: object
      properties:
        id:
          type: integer
          format: int64
        insertedBy:
          $ref: '#/components/schemas/Access'
        inserted:
          type: string
          format: date-time
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - proposed
          - scheduled
          - confirmed
        type:
          type: string
          enum:
          - routine
          - ingoing
          - outgoing
        timeOfDay:
          type: string
          enum:
          - morning
          - afternoon
        property:
          type: object
          properties:
            id:
              type: integer
              format: int64
            displayAddress:
              type: string
            class:
              $ref: '#/components/schemas/PropertyClass'
            leaseLife:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                status:
                  type: string
                portalStatus:
                  type: string
                tenancy:
                  $ref: '#/components/schemas/ID'
    RoyalMail:
      type: object
      properties:
        buildingName:
          type: string
        buildingNumber:
          type: string
        department:
          type: string
        locality:
          type: string
        locality2:
          type: string
        organisation:
          type: string
        postTown:
          type: string
        postcode:
          type: string
        subbuildingName:
          type: string
        subbuildingNumber:
          type: string
        thoroughfare:
          type: string
        thoroughfare2:
          type: string
        udprn:
          type: integer
          format: int64
    Access:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        photo:
          $ref: '#/components/schemas/UserPhoto'
        account:
          type: object
          properties:
            id:
              type: integer
              format: int64
            name:
              type: string
    PropertyOfferConditionWithProperty:
      allOf:
      - $ref: '#/components/schemas/PropertyOfferCondition'
      - type: object
        properties:
          property:
            type: object
            properties:
              id:
                type: number
                format: int64
              displayAddress:
                type: string
              saleLifeId:
                type: number
                format: int64
              class:
                $ref: '#/components/schemas/PropertyClass'
    TrustAccount:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        accountNumber:
          type: string
        bsbNumber:
          type: string
        type:
          type: string
          enum:
          - sales
          - propertyManagement
          - combinedSalesAndPropertyManagement
    PropertyOfferCondition:
      type: object
      properties:
        id:
          type: number
          format: int64
        condition:
          $ref: '#/components/schemas/OfferCondition'
        user:
          $ref: '#/components/schemas/User_3'
        due:
          type: string
          format: date-time
        completed:
          type: boolean
    Urls:
      type: object
      properties:
        previous:
          type: string
        next:
          type: string
        self:
          type: string
    User_3:
      type: object
      properties:
        id:
          type: integer
          format: int64
        firstName:
          type: string
        lastName:
          type: string
        username:
          type: string
        email:
          type: string
          format: email
        adminAccess:
          type: boolean
        position:
          type: string
        role:
          type: string
          enum:
          - commercialSalesAndLeasing
          - residentialSales
          - propertyManagement
        photo:
          $ref: '#/components/schemas/UserPhoto'
        lastLogin:
          type: string
          format: date-time
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber_3'
        profile:
          type: string
        permissions:
          type: object
          properties:
            settings:
              type: boolean
            accessPropertyManagement:
              type: boolean
            accessSales:
              type: boolean
            canLogin:
              type: boolean
            deleteContacts:
              type: boolean
            deleteProperties:
              type: boolean
            globalActionListsReadWrite:
              type: boolean
            globalContactsReadWrite:
              type: boolean
            globalNotesRead:
              type: boolean
            globalNotesReadWrite:
              type: boolean
            globalPropertiesRead:
              type: boolean
            globalPropertiesReadWrite:
              type: boolean
            globalTasksReadWrite:
              type: boolean
            sendSMS:
              type: boolean
            accessPropertyFinancials:
              type: boolean
            accessAlarmDetails:
              type: boolean
            modifyWebsiteContent:
              type: boolean
            editMarketingContact:
              type: boolean
        websiteUrl:
          type: string
        showOnWeb:
          type: boolean
        externalReference:
          type: string
        ssoIdentifier:
          type: string
        signature:
          type: string
        account:
          type: object
          properties:
            id:
              type: integer
              format: int64
            name:
              type: string
        hideMobileFromPortal:
          type: boolean
    OpenHomeWithProperty:
      allOf:
      - $ref: '#/components/schemas/OpenHome'
      - type: object
        properties:
          property:
            type: object
            properties:
              id:
                type: number
                format: int64
              displayAddress:
                type: string
              saleLifeId:
                type: number
                format: int64
              leaseLifeId:
                type: number
                format: int64
              class:
                $ref: '#/components/schemas/PropertyClass'
  parameters:
    sortOrder:
      name: sortOrder
      in: query
      description: Order by which to sort the results. Used in conjunction with sort parameter.
      schema:
        type: string
        enum:
        - asc
        - desc
    pagesize:
      name: pagesize
      in: query
      description: Number of records to be returned in each page.
      schema:
        type: integer
        format: int64
        default: 50
    page:
      name: page
      in: query
      description: Page number of results
      schema:
        type: integer
        format: int64
  securitySchemes:
    Api-Key:
      type: apiKey
      name: X-Api-Key
      in: header
    Bearer:
      type: apiKey
      description: Use format 'Bearer [token]'
      name: Authorization
      in: header
x-refined-from:
- vaultre-api-v1-1-openapi.yml
- vaultre-api-v1-2-openapi.yml
- vaultre-api-v1-3-openapi.yml
