openapi: 3.2.0
info:
  title: Vaultre Categories API
  contact:
    name: VaultRE
    url: https://www.vaultre.com.au
    email: api@vaultre.com.au
  version: '1.0'
  description: 'Operations tagged categories across 3 of this provider''s published API definitions: vaultre-api-v1-1-openapi.yml, vaultre-api-v1-2-openapi.yml, vaultre-api-v1-3-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.2
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
tags:
- name: Categories
  description: Operations related to categories
paths:
  /categories/contact/groups:
    get:
      tags:
      - Categories
      summary: Retrieve a list of contact category groups
      operationId: getContactCategoryGroups
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Contact category groups retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - Categories
      summary: Create a contact category grouping
      operationId: addContactCategoryGroup
      requestBody:
        description: Category Grouping object
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddUpdateCategoryGrouping'
        required: true
      responses:
        201:
          description: Category grouping created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryGroupingSimple'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /categories/contact/groups/{id}:
    get:
      tags:
      - Categories
      summary: Retrieve a single contact category group
      operationId: getContactCategoryGroup
      parameters:
      - name: id
        in: path
        description: ID of the category group
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Category group retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryGrouping'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Categories
      summary: Update a contact category grouping
      operationId: updateContactCategoryGroup
      parameters:
      - name: id
        in: path
        description: ID of the category group
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Category Grouping object
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddUpdateCategoryGrouping'
        required: true
      responses:
        200:
          description: Category grouping updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryGroupingSimple'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /categories/contact/groups/{id}/categories:
    get:
      tags:
      - Categories
      summary: Retrieve a list of categories in this contact category group
      operationId: getContactCategoryGroupCategories
      parameters:
      - name: id
        in: path
        description: ID of the category group
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Categories retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - Categories
      summary: Create a contact category in this grouping
      operationId: addContactCategoryGroupCategory
      requestBody:
        description: Category object
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddUpdateCategory'
        required: true
      responses:
        201:
          description: Category created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /categories/contact/groups/{groupingid}/categories/{id}:
    get:
      tags:
      - Categories
      summary: Retrieve a single category in this contact category group
      operationId: getContactCategoryGroupCategory
      parameters:
      - name: groupingid
        in: path
        description: ID of the category group
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the category
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Category retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - Categories
      summary: Update a contact category in this grouping
      operationId: updateContactCategoryGroupCategory
      requestBody:
        description: Category object
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddUpdateCategory'
        required: true
      responses:
        200:
          description: Category updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /categories/contact:
    get:
      tags:
      - Categories
      summary: Retrieve a list of contact categories
      operationId: getContactCategories
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Categories retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /categories/contact/{id}:
    get:
      tags:
      - Categories
      summary: Retrieve a single contact category
      operationId: getContactCategory
      parameters:
      - name: id
        in: path
        description: ID of the category
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Category retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /categories/property/groups:
    get:
      tags:
      - Categories
      summary: Retrieve a list of property category groups
      operationId: getPropertyCategoryGroups
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Property category groups retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /categories/property/groups/{id}:
    get:
      tags:
      - Categories
      summary: Retrieve a single property category group
      operationId: getPropertyCategoryGroup
      parameters:
      - name: id
        in: path
        description: ID of the category group
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Category group retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryGrouping'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /categories/property:
    get:
      tags:
      - Categories
      summary: Retrieve a list of property categories
      operationId: getPropertyCategories
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Categories retrieved
          content: {}
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
  /categories/property/{id}:
    get:
      tags:
      - Categories
      summary: Retrieve a single property category
      operationId: getPropertyCategory
      parameters:
      - name: id
        in: path
        description: ID of the category
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Category retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
      security:
      - Api-Key: []
        Bearer: []
    servers:
    - url: https://ap-southeast-2.api.vaultre.com.au/api/v1.1
components:
  parameters:
    page:
      name: page
      in: query
      description: Page number of results
      schema:
        type: integer
        format: int64
    sortOrder:
      name: sortOrder
      in: query
      description: Order by which to sort the results. Used in conjunction with sort parameter.
      schema:
        type: string
        enum:
        - asc
        - desc
    pagesize:
      name: pagesize
      in: query
      description: Number of records to be returned in each page.
      schema:
        type: integer
        format: int64
        default: 50
  schemas:
    AddUpdateCategory:
      type: object
      properties:
        name:
          type: string
    Category:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    CategoryGrouping:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
    SuccessOrError:
      type: object
      properties:
        success:
          type: boolean
        msg:
          type: string
        code:
          type: string
    CategoryGroupingSimple:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    Urls:
      type: object
      properties:
        previous:
          type: string
        next:
          type: string
        self:
          type: string
    AddUpdateCategoryGrouping:
      type: object
      properties:
        name:
          type: string
  securitySchemes:
    Api-Key:
      type: apiKey
      name: X-Api-Key
      in: header
    Bearer:
      type: apiKey
      description: Use format 'Bearer [token]'
      name: Authorization
      in: header
x-refined-from:
- vaultre-api-v1-1-openapi.yml
- vaultre-api-v1-2-openapi.yml
- vaultre-api-v1-3-openapi.yml
